@import "tree";
@import "../../mixins/mixins";

@include root {
  @include b(select-tree) {
    width: 260px;
    display: inline-block;
    position: relative;
    padding: 5px 0;
    .boss-input {
      > input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .boss-input__icon {
        cursor: pointer;
      }
    }
    &:hover {
      .boss-input__inner {
        border-color: $--color-text-placeholder;
      }
      .is-clearable {
        .boss-icon-close {
          display: inline-block;
        }
        .boss-icon-arrow-down {
          display: none;
        }
      }
    }

    @include e(multiple-tags) {
      position: absolute;
      line-height: normal;
      white-space: normal;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 30px);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span:first-child {
        &.boss-select-tree__multiple-tags__input {
          margin-left: 12px;
        }
      }
      .boss-tag {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 2px 0 2px 6px;
      }
    }
    @include e(multiple-tags__input) {
      input {
        outline: none;
        border: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 4px;
        text-overflow: unset !important;
      }
      &-mirror {
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 0;
      }
    }
    @include e(multiple-tags) {
      @include m(collapsetags) {
        .boss-tag {
          max-width: calc(100% - 60px);
        }
      }
    }

    @include e(filter) {
      padding: 5px 10px;
      border-bottom: 1px solid $--border-color-base;
    }

    @include e(popper) {
      border: 1px solid $--border-color-light;
      box-shadow: $--box-shadow-light;
      background: $--color-white;
      border-radius: 4px;
      line-height: 30px;
      margin: 5px 0;
    }

    @include e(scrollbar) {
      max-height: 300px;
      width: 320px;
      .boss-tree-node > .boss-tree-node__children {
        overflow: inherit;
      }
      .boss-tree-node__label {
        padding-right: 10px;
      }
    }

    .boss-input__icon.boss-icon-close {
      display: none;
    }

    @include e(bottom) {
      text-align: right;
      border-top: 1px solid $--border-color-base;
      padding: 0 10px;
    }
    .is-focus .boss-input__inner {
      border-color: $--select-input-focus-border-color;
    }
    .reverse-icon {
      transform: rotate(180deg);
      transition: 0.3s;
    }
  }
}
