@import "../../mixins/mixins";
@import "common/var";

@include root {
  @include b(timeline) {
    margin: 0;
    font-size: $--font-size-base;
    list-style: none;

    & .boss-timeline-item:last-child {
      & .boss-timeline-item__tail {
        display: none;
      }
    }
  }
}
