@function get-hsv($color){
  $R:red($color);
  $G:green($color);
  $B:blue($color);

  $max:max($R, $G, $B);
  $min:min($R, $G, $B);

  $H:0;
  $S:($max - $min) / $max;
  $V:$max / 255;

  @if $R == $max {
    $H:($G - $B) / ($max - $min)
  } @else if $G == $max {
    $H:2 + ($B - $R)/($max - $min) 
  } @else {
    $H:4 + ($R - $G)/($max - $min)  
  }

  $H:$H * 60;

  @if $H < 0 {
    $H:$H + 360
  }

  $map:('H':$H, 'S':$S, 'V':$V);

  @return $map;
};

@function set-rgb-map($r, $g, $b){
  $map:('r':$r, 'g':$g, 'b':$b);
  @return $map;
}

@function hsv-to-rgb($hsv){
  $H:map-get($hsv,'H');
  $S:map-get($hsv,'S');
  $V:map-get($hsv,'V');

  $h:round($H);
  $s:round($S * 255);
  $v:round($V * 255);

  $rgbmap:();

  @if s == 0 {
    $rgbmap:set-rgb-map($v, $v, $v);
  } @else {
    $t1:$v;
    $t2:(255 - $s) * $v / 255;
    $t3:($t1 - $t2) * ($h % 60) / 60;

    @if $h == 360 {
      $h:0;
    } 
    @if $h < 60 {
      $rgbmap:set-rgb-map($t1, $t2 + $t3, $t2);
    }@else if $h < 120 {
      $rgbmap:set-rgb-map($t1 - $t3, $t1, $t2);
    }@else if $h < 180 {
      $rgbmap:set-rgb-map($t2, $t1, $t2 + $t3 );
    }@else if $h < 240 {
      $rgbmap:set-rgb-map($t2, $t1 - $t3, $t1 );
    }@else if $h < 300 {
      $rgbmap:set-rgb-map($t2 + $t3, $t2, $t1 );
    }@else if $h < 360 { 
      $rgbmap:set-rgb-map($t1, $t2, $t1 - $t3 );
    }@else { 
      $rgbmap:set-rgb-map(0,0,0);
    }
  }
  
  $r:round(map-get($rgbmap, 'r'));
  $g:round(map-get($rgbmap, 'g'));
  $b:round(map-get($rgbmap, 'b'));

  @return rgb($r, $g, $b);
}