@import "../common/var";
@import "../../../mixins/mixins";
@include root {
  @include b(date-table) {
    font-size: 14px;
    user-select: none;

    @include when(week-mode) {
      .boss-date-table__row {
        transition: all .3s;
        &:hover {
          td {
            background-color: $--background-color-base;
            color: $--datepicker-font-color;
          }
          td:first-child div {
            margin-left: 5px;
          }
          td:last-child div {
            margin-right: 5px;
          }
        }

        &.current td {
          &,
          &.in-range div {
            transition: all .3s;
            background-color: $--color-primary;
            color: $--color-white;
          }
        }
      }
    }

    td {
      width: 28px;
      height: 24px;
      padding: 3px 0;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      transition: all .3s;
      position: relative;

      & div {
        height: 24px;
        box-sizing: border-box;
      }

      & span {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto;
        line-height: 24px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: $--border-radius-base;
      }

      &.next-month,
      &.prev-month {
        color: $--datepicker-off-font-color;
      }

      &.today {
        position: relative;
        span {
          position: relative;
          margin: 0;
          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            border: 1px solid $--color-primary;
            border-radius: $--border-radius-base;
            content: '';
          }
        }
        &.start-date span,
        &.end-date span {
          color: $--color-white;
        }
      }

      &.available:hover {
        color: $--datepicker-hover-font-color;
      }

      &.in-range div {
        background-color: $--datepicker-inrange-background-color;
      }

      &.current:not(.disabled) span {
        color: $--color-white;
        background-color: $--datepicker-active-color;
      }
      &.start-date div,
      &.end-date div {
        color: $--color-white;
      }

      &.start-date span,
      &.end-date span {
        background-color: $--datepicker-active-color;
      }

      &.start-date div {
        margin-left: 5px;
        border-top-left-radius: $--border-radius-base;
        border-bottom-left-radius: $--border-radius-base;
      }

      &.end-date div {
        margin-right: 5px;
        border-top-right-radius: $--border-radius-base;
        border-bottom-right-radius: $--border-radius-base;
      }

      &.disabled div {
        background-color: $--background-color-base;
        opacity: 1;
        cursor: not-allowed;
        color: $--color-text-placeholder;
      }

      &.selected div {
        margin-left: 5px;
        margin-right: 5px;
        background-color: $--datepicker-inrange-background-color;
        border-radius: $--border-radius-base;
      }

      &.selected span {
        background-color: $--datepicker-active-color;
        color: $--color-white;
        border-radius: $--border-radius-base;
      }

      &.week {
        font-size: 80%;
        color: $--datepicker-header-font-color;
      }
    }

    th {
      color: $--datepicker-header-font-color;
      font-weight: 400;
    }
  }
}
