@import "../common/ant/button.scss";
@import "../common/element/button.scss";

@mixin button-variant($color, $background-color, $border-color) {
  @if $--theme == element {
    @include element-button-variant($color, $background-color, $border-color)
  }
  @else {
    @include ant-button-variant($color, $background-color, $border-color)
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
};
