@import "../../mixins/mixins";
@import "common/var";

@include root {
  @include b(alert) {
    width: 100%;
    padding: $--alert-padding;
    margin: 0;
    box-sizing: border-box;
    border-radius: $--alert-border-radius;
    position: relative;
    background-color: $--color-white;
    overflow: hidden;
    opacity: 1;
    display: flex;
    transition: opacity 0.2s;

    @include when(light) {
      .boss-alert__closebtn {
        color: $--color-text-secondary;
      }
    }

    @include when(dark) {
      .boss-alert__closebtn, 
      .boss-alert__title {
        color: $--color-white;
      }
    }

    .boss-alert__description {
      color: $--color-text-primary;
    }
    .boss-alert__title {
      color: $--color-heading;
    }
    @include when(center) {
      justify-content: center;
    }

    @include m(success) {
      &.is-light {
        background-color: $--alert-success-color;
        border: 1px solid $--alert-success-border-color;
        .boss-alert__icon {
          color: $--color-success;
        }
      }

      &.is-dark {
        background-color: $--alert-success-dark-background;
      }
    }

    @include m(info) {
      &.is-light {
        background-color: $--alert-info-color;
        border: 1px solid $--alert-info-border-color;
        .boss-alert__icon {
          color: $--color-info;
        }
      }
      &.is-dark {
        background-color: $--alert-info-dark-background;
      }
    }

    @include m(warning) {
      &.is-light {
        background-color: $--alert-warning-color;
        border: 1px solid $--alert-warning-border-color;
        .boss-alert__icon {
          color: $--color-warning;
        }
      }
      &.is-dark {
        background-color: $--alert-warning-dark-background;
      }
    }

    @include m(error) {
      &.is-light {
        background-color: $--alert-danger-color;
        border: 1px solid $--alert-danger-border-color;
        .boss-alert__icon {
          color: $--color-danger;
        }
      }
      &.is-dark {
        background-color: $--alert-danger-dark-background;
      }
    }

    @include e(content) {
      display: table-cell;
      padding-right:8px;
    }

    @include e(icon) {
      font-size: $--alert-icon-size;
      width: $--alert-icon-size;
      margin-right:8px;
      margin-top: 2px;
      @include when(big) {
        font-size: $--alert-icon-large-size;
        width: $--alert-icon-large-size;
        margin-top: 8px;
        & + .boss-alert__content {
          padding-top: 12px;
          padding-bottom: 10px;
        }
      }
    }

    @include e(title) {
      font-size: $--alert-title-font-size;
      line-height: 18px;
      @include when(bold) {
        font-size: 16px;
        & + .boss-alert__description {
          font-size: 14px;
        }
      }
    }

    & .boss-alert__description {
      font-size: $--alert-description-font-size;
      margin: 5px 0 0 0;
    }

    @include e(closebtn) {
      font-size: $--alert-close-font-size;
      opacity: 1;
      position: absolute;
      top: 12px;
      right: 15px;
      cursor: pointer;

      @include when(customed) {
        font-style: normal;
        font-size: $--alert-close-customed-font-size;
        top: 9px;
      }
    }
  }

  .boss-alert-fade-enter,
  .boss-alert-fade-leave-active {
    opacity: 0;
  }
}
