@import "../../mixins/mixins";
@import "../../mixins/utils";
@import "common/var";

@include root {
  @include b(breadcrumb) {
    font-size: $--breadcrumb-font-size;
    line-height: 1;
    @include utils-clearfix;

    @include e(separator) {
      margin: 0 8px;
      font-weight: bold;
      color:  $--breadcrumb-color;

      &[class*="icon"] {
        margin: 0 6px;
        font-weight: normal;
      }
    }

    @include e(item) {
      float: left;

      @include e(inner) {
        color:  $--breadcrumb-color;

        &.is-link,
        & a {
          text-decoration: none;
          transition: $--color-transition-base;
          color:  $--breadcrumb-color;

          &:hover {
            color: $--color-blue-5;
            cursor: pointer;
          }
        }
      }

      &:last-child {
        .boss-breadcrumb__inner,
        .boss-breadcrumb__inner a {
          &,
          &:hover {
            font-weight: normal;
            color: $--breadcrumb-hover-color;
            cursor: text;
          }
        }

        .boss-breadcrumb__separator {
          display: none;
        }
      }
    }
  }
}
