@import "../../mixins/mixins";
@import "common/var";
@import "button";
@import "button-group";

@include root {
  @include b(calendar) {
    background-color: #fff;
    text-align: right;
    @include e(header) {
      display: flex;
      justify-content: space-between;
      padding: 12px 20px;
    }

    @include e(title) {
      color: #000000;
      align-self: center;
      opacity: 0;
    }

    @include e(body) {
      padding: 12px 20px 35px;
    }
  }

  @include b(calendar-table) {
    table-layout: fixed;
    width: 100%;

    thead th {
      padding: 0 12px 5px 0;
      color: $--color-text-regular;
      font-weight: 400;
      line-height: 18px;
    }

    &:not(.is-range) {
      td.prev,
      td.next {
        color: $--disabled-color-base;
      }
    }

    td {
      min-width: 24px;
      &:hover {
        .boss-calendar-day {
          background: $--background-color-base;
        }
      }
      color: $--color-text-primary;
      transition: background-color 0.2s ease;

      @include when(selected) {
        color: $--color-primary;
        .boss-calendar-day {
          background-color: $--calendar-selected-background-color;
        }
      }

      @include when(today) {
        .boss-calendar-day {
          border-top-color: $--color-primary;
        }
      }
    }

    @include b(calendar-day) {
      box-sizing: border-box;
      padding: 4px 8px 0;
      border-top: $--calendar-border;
      margin: 0 4px;
      overflow: hidden;
      height: 110px;
      width: auto;
      &:hover {
        cursor: pointer;
        background-color: $--calendar-selected-background-color;
      }
    }
  }
}
