@import "../../mixins/mixins";
@import "common/var";

@include root {
  @include b(card) {
    border-radius: $--card-border-radius;
    border: 1px solid $--card-border-color;
    background-color: $--color-white;
    overflow: hidden;
    transition: 0.3s;
    line-height: 1.5715;

    @include when(always-shadow) {
      box-shadow: $--box-shadow-light;
    }

    @include when(hover-shadow) {
      &:hover,
      &:focus {
        box-shadow: $--box-shadow-light;
      }
    }

    @include e(header) {
      padding: #{$--card-padding - 4 $--card-padding + 4};
      border-bottom: 1px solid $--card-border-color;
      font-size: $--font-size-medium;
      color: $--color-heading;
      box-sizing: border-box;
    }

    @include e(body) {
      padding: #{$--card-padding + 4};
      color: $--color-text-primary;
    }
  }
}
