@import "common/_var";
@import "common/_button";
@import "../../mixins/mixins";
@import "../../mixins/utils";

@include root {
  @include b(checkbox) {
    color: $--checkbox-font-color;
    font-weight: $--checkbox-font-weight;
    font-size: $--font-size-base;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    margin-right: 30px;

    @include when(bordered) {
      padding: $--checkbox-bordered-padding;
      border-radius: $--border-radius-base;
      border: $--border-base;
      box-sizing: border-box;
      line-height: normal;
      height: $--checkbox-bordered-height;

      &.is-checked {
        border-color: $--color-primary;
      }

      &.is-disabled {
        border-color:  $--checkbox-disabled-border-color;
        background-color: $--checkbox-disabled-input-fill;
        cursor: not-allowed;
      }

      & + .boss-checkbox.is-bordered {
        margin-left: 10px;
      }

      &.boss-checkbox--medium {
        padding: $--checkbox-bordered-medium-padding;
        border-radius: $--button-medium-border-radius;
        height: $--checkbox-bordered-medium-height;

        .boss-checkbox__label {
          line-height: 17px;
          font-size: $--button-medium-font-size;
        }

        .boss-checkbox__inner {
          height: $--checkbox-bordered-medium-input-height;
          width: $--checkbox-bordered-medium-input-width;
        }
      }

      &.boss-checkbox--small {
        padding: $--checkbox-bordered-small-padding;
        border-radius: $--button-small-border-radius;
        height: $--checkbox-bordered-small-height;

        .boss-checkbox__label {
          line-height: 15px;
          font-size: $--button-small-font-size;
        }

        .boss-checkbox__inner {
          height: $--checkbox-bordered-small-input-height;
          width: $--checkbox-bordered-small-input-width;

          &::after {
            height: 7px;
            width: 4px;
          }
        }
      }

      &.boss-checkbox--mini {
        padding: $--checkbox-bordered-mini-padding;
        border-radius: $--button-mini-border-radius;
        height: $--checkbox-bordered-mini-height;

        .boss-checkbox__label {
          line-height: 12px;
          font-size: $--button-mini-font-size;
        }

        .boss-checkbox__inner {
          height: $--checkbox-bordered-mini-input-height;
          width: $--checkbox-bordered-mini-input-width;
          &::after {
            height: 6px;
            width: 2px;
          }
        }
      }
    }

    @include e(input) {
      white-space: nowrap;
      cursor: pointer;
      outline: none;
      display: inline-block;
      line-height: 1;
      position: relative;
      vertical-align: middle;

      @include when(disabled) {
        .boss-checkbox__inner {
          background-color: $--checkbox-disabled-input-fill;
          border-color: $--checkbox-disabled-border-color;
          cursor: not-allowed;

          &::after {
            cursor: not-allowed;
            border-color: $--checkbox-disabled-icon-color;
          }

          & + .boss-checkbox__label {
            cursor: not-allowed;
          }
        }

        &.is-checked {
          .boss-checkbox__inner {
            background-color: $--checkbox-disabled-checked-input-fill;
            border-color: $--checkbox-disabled-checked-input-border-color;

            &::after {
              border-color: $--checkbox-disabled-checked-icon-color;
            }
          }
        }

        &.is-indeterminate {
          .boss-checkbox__inner {
            background-color: $--checkbox-disabled-checked-input-fill;
            border-color: $--checkbox-disabled-checked-input-border-color;

            &::before {
              background-color: $--checkbox-disabled-checked-icon-color;
              border-color: $--checkbox-disabled-checked-icon-color;
            }
          }
        }

        & + span.boss-checkbox__label {
          color: $--disabled-color-base;
          cursor: not-allowed;
        }
      }

      @include when(checked) {
        .boss-checkbox__inner {
          background-color: $--checkbox-checked-background-color;
          border-color: $--checkbox-checked-input-border-color;
          &::before {
            position: absolute;
            top: -1px;
            left: -1px;
            width: 100%;
            height: 100%;
            border: 1px solid $--checkbox-checked-input-border-color;
            border-radius: $--checkbox-border-radius;
            visibility: hidden;
            animation: antCheckboxEffect 0.36s ease-in-out;
            animation-fill-mode: backwards;
            content: "";
          }
          &::after {
            transform: rotate(45deg) scale(1) translate(-50%, -50%);
            opacity: 1;
            transition: all 0.2s $--ease-out-back 0.1s;
            content: ' ';
          }
        }
      }
      @include when(focus) {
        /*focus时 视觉上区分*/
        .boss-checkbox__inner {
          border-color: $--checkbox-input-border-color-hover;
        }
      }
      @include when(indeterminate) {
        .boss-checkbox__inner {
          &:hover {
            border-color: $--checkbox-checked-input-border-color;
          }
         
          &::before {
            top: 50%;
            left: 50%;
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: $--checkbox-checked-background-color;
            border: 0;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            content: ' ';
          }

          &::after {
            display: none;
          }
        }
      }
    }
    @include e(inner) {
      display: inline-block;
      position: relative;
      border: $--checkbox-input-border;
      border-radius: $--checkbox-border-radius;
      box-sizing: border-box;
      width: $--checkbox-input-width;
      height: $--checkbox-input-height;
      background-color: $--checkbox-background-color;
      z-index: $--index-normal;
      transition: all 0.3s;

      &:hover {
        border-color: $--checkbox-input-border-color-hover;
      }
      
      &::after {
        $check-width: ($--checkbox-input-width / 14px) * 5px;
        $check-height: ($--checkbox-input-height / 14px) * 8px;

        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 22%;
        display: table;
        width: $check-width;
        height: $check-height;
        border: 2px solid $--checkbox-checked-icon-color;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(0) translate(-50%, -50%);
        opacity: 0;
        transition: all 0.1s $--ease-in-back, opacity 0.1s;
        content: " ";
      }
    }

    @include e(original) {
      opacity: 0;
      outline: none;
      position: absolute;
      margin: 0;
      width: 0;
      height: 0;
      z-index: -1;
    }

    @include e(label) {
      display: inline-block;
      padding-left: 10px;
      line-height: 19px;
      font-size: $--checkbox-font-size;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include b(checkbox-button) {
    position: relative;
    display: inline-block;

    @include e(inner) {
      display: inline-block;
      line-height: 1;
      font-weight: $--checkbox-font-weight;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background: $--button-default-background-color;
      border: $--border-base;
      border-left: 0;
      color: $--button-default-font-color;
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      margin: 0;
      position: relative;
      transition: $--all-transition;
      @include utils-user-select(none);

      @include button-size(
        $--button-padding-vertical,
        $--button-padding-horizontal,
        $--button-font-size,
        0
      );

      &:hover {
        color: $--color-primary;
      }

      & [class*="boss-icon-"] {
        line-height: 0.9;

        & + span {
          margin-left: 5px;
        }
      }
    }

    @include e(original) {
      opacity: 0;
      outline: none;
      position: absolute;
      margin: 0;
      z-index: -1;
    }

    &.is-checked {
      & .boss-checkbox-button__inner {
        color: $--checkbox-button-checked-font-color;
        background-color: $--checkbox-button-checked-background-color;
        border-color: $--checkbox-button-checked-border-color;
        box-shadow: -1px 0 0 0 $--color-primary-light-4;
      }
      &:first-child .boss-checkbox-button__inner {
        border-left-color: $--checkbox-button-checked-border-color;
      }
    }

    &.is-disabled {
      & .boss-checkbox-button__inner {
        color: $--button-disabled-font-color;
        cursor: not-allowed;
        background-image: none;
        background-color: $--button-disabled-background-color;
        border-color: $--button-disabled-border-color;
        box-shadow: none;
      }
      &:first-child .boss-checkbox-button__inner {
        border-left-color: $--button-disabled-border-color;
      }
    }

    &:first-child {
      .boss-checkbox-button__inner {
        border-left: $--border-base;
        border-radius: $--border-radius-base 0 0 $--border-radius-base;
        box-shadow: none !important;
      }
    }

    &.is-focus {
      & .boss-checkbox-button__inner {
        border-color: $--checkbox-button-checked-border-color;
      }
    }

    &:last-child {
      .boss-checkbox-button__inner {
        border-radius: 0 $--border-radius-base $--border-radius-base 0;
      }
    }
    @include m(medium) {
      .boss-checkbox-button__inner {
        @include button-size(
          $--button-medium-padding-vertical,
          $--button-medium-padding-horizontal,
          $--button-medium-font-size,
          0
        );
      }
    }
    @include m(small) {
      .boss-checkbox-button__inner {
        @include button-size(
          $--button-small-padding-vertical,
          $--button-small-padding-horizontal,
          $--button-small-font-size,
          0
        );
      }
    }
    @include m(mini) {
      .boss-checkbox-button__inner {
        @include button-size(
          $--button-mini-padding-vertical,
          $--button-mini-padding-horizontal,
          $--button-mini-font-size,
          0
        );
      }
    }
  }

  @include b(checkbox-group) {
    font-size: 0;
  }
}

@keyframes antCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
    visibility: hidden;
  }
}
