@import "../../mixins/mixins";
@import "common/var";
@import "./common/transition";

@include root {
  @include b(collapse) {
    border: 1px solid $--collapse-border-color;
    border-bottom: 0;
  }
  @include b(collapse-item) {
    border-bottom: 1px solid $--collapse-border-color;
    @include when(disabled) {
      .boss-collapse-item__header {
        color: $--font-color-disabled-base;
        cursor: not-allowed;
      }
    }
    @include e(header) {
      display: flex;
      position: relative;
      align-items: center;
      padding: $--collapse-header-padding;
      padding-left: $--collapse-header-padding-left;
      background-color: $--collapse-header-background-color;
      color: $--collapse-header-font-color;
      cursor: pointer;
      font-size: $--collapse-header-font-size;
      transition: border-bottom-color 0.3s;
      outline: none;
      @include e(arrow) {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s;
        font-weight: 700;
        @include when(active) {
          transform: translateY(-50%) rotate(90deg);
        }
      }
      &.focusing:focus:not(:hover) {
        color: $--color-primary;
      }
      @include when(active) {
        border-bottom-color: transparent;
      }
    }

    @include e(wrap) {
      will-change: height;
      background-color: $--collapse-content-background-color;
      overflow: hidden;
      box-sizing: border-box;
    }

    @include e(content) {
      padding: 16px;
      border-top: 1px solid $--collapse-border-color;
      font-size: $--collapse-content-font-size;
      color: $--collapse-content-font-color;
      line-height: 1.769230769230769;
    }

    &:last-child {
      margin-bottom: -1px;
    }
  }
}
