@import "common/var";
@import "../../mixins/mixins";

@include root {
  @include b(divider) {
    display: table;
    border-top: 1px solid  $--border-color-split-hsv;
    &--left,
    &--right,
    &--center {
      border-top: none;
      &::after,
      &::before {
        content: " ";
        position: relative;
        top: 50%;
        display: table-cell;
        width: 50%;
        border-top: 1px solid  $--border-color-split-hsv;
        transform: translateY(50%);
      }
    }
    @include m(left) {
      &::before {
        width: 5%;
      }
      &::after {
        width: 95%;
      }
    }
    @include m(right) {
      &::before {
        width: 95%;
      }
      &::after {
        width: 5%;
      }
    }

    @include m(horizontal) {
      width: 100%;
      margin: 24px 0;
    }

    @include m(vertical) {
      border-top: none;
      display: inline-block;
      width: 1px;
      height: 0.9em;
      margin: 0 8px;
      vertical-align: middle;
      position: relative;
      background-color: $--border-color-split-hsv;
    }

    @include e(text) {
      background-color: transparent;
      padding: 0 1em;
      font-weight: 500;
      white-space: nowrap;
      display: inline-block;
      color: $--color-heading;
      font-size: 16px;
    }
  }
}
