@import "../../mixins/mixins";
@import "common/var";
@import "input";

@mixin lineheight($font-size, $input-height) {
  & {
    line-height: #{$input-height - 2};
  }
  @include e((increase, decrease)) {
    font-size: $font-size;
    &,i {
      line-height: #{($input-height - 2) / 2};
    }
    &:hover {
      height: 60% !important;
      &,i {
        line-height: #{($input-height - 2) * 0.6} !important;
      }
    }
  }
  @include e(increase__wrap) {
    &:hover {
      @include e((increase, decrease)) {
        height: 40%;
        &,i {
          line-height: #{($input-height - 2) * 0.4};
        }
      }
    }
  }
}
@include root {
  @include b(input-number) {
    position: relative;
    display: inline-block;
    width: $--input-number-width;
    @include lineheight( $--input-font-size, $--input-height);
    .boss-input {
      display: block;

      &__inner {
        -webkit-appearance: none;
        padding: 0 11px;
      }
    }
    &:hover {
      @include e(increase__wrap) {
        opacity: 1;
      }
    }
    @include e(increase__wrap) {
      position: absolute;
      width: $--input-number-crease-width;
      background: $--input-number-crease-background-color;
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
      border-left: $--border-base;
      top: 1px;
      right: 1px;
      z-index: 1;
      opacity: 0;
      height: calc(100% - 2px);
      transition: opacity 0.24s linear 0.1s;
      
    }
    @include e((increase, decrease)) {
      position: absolute;
      transition: all 0.1s linear;
      z-index: 1;
      top: 0px;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      user-select: none;
      height: 50%;
      color: $--color-text-regular;
      cursor: pointer;

      [class*="boss-icon"] {
        transform: scale(0.5);
        font-weight: bold;
      }
      &:active {
        background-color: #f4f4f4;
      }
      &:hover {
        color: $--color-blue-5;
        &:not(.is-disabled) ~ .boss-input .boss-input__inner:not(.is-disabled) {
          border-color: $--input-focus-border;
        }
      }

      &.is-disabled {
        color: $--disabled-color-base;
        cursor: not-allowed;
      }
    }

    @include e(increase) {
      right: 0px;
      border-radius: 0 $--border-radius-base 0 0;
      i {
        &:before {
          content: "\e6e1";
        }
      }
    }

    @include e(decrease) {
      right: 0px;
      bottom: 0px;
      top: auto;
      left: auto;
      border-top: $--border-base;
      border-right: none;
      border-radius: 0 0 $--border-radius-base 0;
      i {
        &:before {
          content: "\e6df";
        }
      }
    }

    @include when(disabled) {
      @include e(increase__wrap) {
        opacity: 0 !important;
      }
    }

    @include m(medium) {
      @include lineheight($--input-medium-font-size, $--input-medium-height);
    }

    @include m(small) {
      @include lineheight($--input-small-font-size, $--input-small-height);
    }

    @include m(mini) {
      @include lineheight($--input-mini-font-size, $--input-mini-height);

      .boss-input__inner {
        padding: 0 7px;
      }
    }
  }
}