@import "../../mixins/mixins";
@import "common/var";

@include root {
  @include b(select-dropdown) {
    &:hover {
      & .selected {
        background-color: #fafafa;
      }
    }
    @include e(item) {
      font-size: $--select-font-size;
      padding: 5px 12px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $--select-option-color;
      line-height: $--select-option-height;
      box-sizing: border-box;
      transition: background 0.3s ease;
      cursor: pointer;

      @include when(disabled) {
        color: $--select-option-disabled-color;
        cursor: not-allowed;
      }

      &:hover:not(.is-disabled) {
        background-color: $--select-option-hover-background !important;
      }

      &.selected {
        color: $--select-option-selected-font-color;
        font-weight: $--select-item-selected-font-weight;
        background-color: $--select-option-hover-background;
      }
    }
  }
}
