@import "../../mixins/mixins";
@import "../../mixins/utils";
@import "common/var";
@import "select";

@include root {
  @include b(pagination) {
    white-space: nowrap;
    padding: 2px 5px;
    color: $--pagination-font-color;
    font-family: Arial;
    @include utils-clearfix;
    @include m(disabled) {
      .number {
        background: $--pagination-disabled-background;
        color: $--pagination-disabled-color;
        &:hover {
          background: $--pagination-disabled-background !important;
          color: $--pagination-disabled-color !important;
          border: $--pagination-border;
        }
        &.active {
          &,
          &:hover {
            background: $--pagination-active-disabled-background !important;
            color: $--color-white !important;
            border: $--pagination-border;
          }
        }
      }
      .btn-prev,
      .btn-next {
        background: $--pagination-disabled-background !important;
        color: $--pagination-disabled-button-disabled-color !important;
      }
      .more,
      .boss-pagination__jump,
      .boss-pagination__total {
        cursor: not-allowed !important;
      }
    }
    span:not([class*="suffix"]),
    button {
      display: inline-block;
      font-size: $--pagination-font-size;
      min-width: $--pagination-button-width;
      height: $--pagination-button-height;
      line-height: $--pagination-button-height;
      vertical-align: top;
      box-sizing: border-box;
    }

    .boss-input__inner {
      text-align: center;
      -moz-appearance: textfield;
      line-height: normal;
    }

    // pagesize 的下拉 icon
    .boss-input__suffix {
      right: 0;
      transform: scale(0.8);
    }

    .boss-select .boss-input {
      width: 100px;
      margin: 0 5px;

      .boss-input__inner {
        padding-right: 25px;
        border-radius: $--pagination-border-radius;
      }
    }

    button {
      border: none;
      padding: 0 6px;
      background: transparent;

      &:focus {
        outline: none;
      }

      &:hover {
        color: $--pagination-hover-color;
      }

      &:disabled {
        color: $--pagination-button-disabled-color;
        background-color: $--pagination-button-disabled-background-color;
        cursor: not-allowed;
        &:hover {
          color: $--pagination-button-disabled-color;
          background-color: $--pagination-button-disabled-background-color;
          border-color: $--border-color-base;
        }
      }
    }

    .btn-prev,
    .btn-next {
      background: center center no-repeat;
      background-size: 16px;
      background-color: $--pagination-background-color;
      cursor: pointer;
      margin: 0;
      color: $--pagination-button-color;
      border: $--pagination-border;
      border-radius: $--pagination-border-radius;

      .boss-icon {
        display: block;
        font-size: 14px;
        font-weight: bold;
      }
      &:hover {
        color: $--pagination-hover-color;
        border-color: $--pagination-hover-color;
      }
    }

    .btn-prev {
      margin-right: 8px;
    }

    .boss-pager li.disabled {
      color: $--pagination-disabled-color;
      cursor: not-allowed;
    }

    @include m(small) {
      .btn-prev,
      .btn-next,
      .boss-pager li,
      .boss-pager li.btn-quicknext,
      .boss-pager li.btn-quickprev {
        border-color: transparent;
        font-size: 14px;
        line-height: 22px;
        height: 24px;
        min-width: 24px;
      }
      .btn-prev {
        margin-right: 0px;
        border: 0;
      }
      .btn-next {
        margin-left: 0px;
        border: 0;
      }
      .arrow.disabled {
        visibility: hidden;
      }
      .more::before,
      li.more::before {
        line-height: 24px;
      }

      span:not([class*="suffix"]),
      button {
        height: 24px;
        line-height: 24px;
      }
      button:hover,
      button:disabled:hover {
        border: 0;
      }
      .boss-pagination__total {
        margin-right: 2px;
      }
      .boss-pagination__jump {
        margin-left: 0;
      }
      .boss-pagination__sizes{
        margin: -1px 0 0 0;
      }
      
      .boss-pager li {
        transition: all 0.1s;
        margin: 0;
        &:hover {
          border-color:transparent;
        }
        &.active:hover {
          border-color: $--pagination-hover-color;
        }
      }
      
      @include e(editor) {
        height: 22px;
        &.boss-input .boss-input__inner {
          height: 22px;
        }
      }
    }

    @include e(sizes) {
      margin: 0 10px 0 0;
      font-weight: normal;
      color: $--color-text-regular;

      .boss-input .boss-input__inner {
        font-size: $--pagination-font-size;
        padding-left: 8px;

        &:hover {
          border-color: $--pagination-hover-color;
        }
      }
    }

    @include e(total) {
      margin-right: 10px;
      font-weight: normal;
      color: $--color-text-regular;
    }

    @include e(jump) {
      margin-left: 24px;
      font-weight: normal;
      color: $--color-text-regular;

      .boss-input__inner {
        padding: 0 3px;
      }
    }

    @include e(rightwrapper) {
      float: right;
    }

    @include e(editor) {
      line-height: 18px;
      padding: 0 2px;
      height: $--pagination-button-height;

      text-align: center;
      margin: 0 2px;
      box-sizing: border-box;
      border-radius: $--pagination-border-radius;

      &.boss-input {
        width: 50px;
      }

      &.boss-input .boss-input__inner {
        height: $--pagination-button-height;
      }

      .boss-input__inner::-webkit-inner-spin-button,
      .boss-input__inner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  @include b(pager) {
    user-select: none;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding: 0;
    margin: 0;

    .more::before {
      line-height: calc(#{$--pagination-button-height} - 2px);
    }
    .more {
      border: none !important;
      &.boss-icon-more {
        color: $--pagination-more-color;
      }
    }
    li {
      margin-right: 8px;
      background: $--pagination-background-color;
      vertical-align: top;
      display: inline-block;
      font-size: $--pagination-font-size;
      min-width: $--pagination-button-width;
      height: $--pagination-button-height;
      line-height: calc(#{$--pagination-button-height} - 2px);
      border-radius: $--pagination-border-radius;
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;
      border: $--pagination-border;

      &.btn-quicknext,
      &.btn-quickprev {
        line-height: 28px;
        color: $--pagination-button-color;

        &.disabled {
          color: $--pagination-disabled-color;
        }
      }

      &.btn-quickprev:hover {
        cursor: pointer;
      }

      &.btn-quicknext:hover {
        cursor: pointer;
      }

      &:hover {
        color: $--pagination-hover-color;
        border-color: $--pagination-hover-color;
      }

      &.active {
        color: $--pagination-hover-color;
        border-color: $--pagination-hover-color;
        cursor: default;
      }
    }
  }
}
