@import "../../mixins/mixins";
@import "../../mixins/utils";
@import "common/var";

@include root {
  @include b(progress) {
    position: relative;
    line-height: 1;

    @include e(text) {
      font-size: 14px;
      color: $--color-text-regular;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      line-height: 1;

      i {
        vertical-align: middle;
        display: block;
      }
    }

    @include m((circle, dashboard)) {
      display: inline-block;

      .boss-progress__text {
        position: absolute;
        font-size: 24px !important;;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        transform: translate(0, -50%);

        i {
          vertical-align: middle;
          display: inline-block;
        }
      }
      
      // .boss-progress-circle__path {
      //   stroke:$--color-blue-5
      // }
      // &.is-success {
      //   .boss-progress-circle__path {
      //     stroke:$--color-green-5
      //   }
      // }
      // &.is-exception {
      //   .boss-progress-circle__path {
      //     stroke:$--color-red-5
      //   }
      // }
      // &.is-warning {
      //   .boss-progress-circle__path {
      //     stroke:$--color-yellow-5
      //   }
      // }
    }

    @include m(without-text) {
      .boss-progress__text {
        display: none;
      }

      .boss-progress-bar {
        padding-right: 0;
        margin-right: 0;
        display: block;
      }
    }

    @include m(text-inside) {
      .boss-progress-bar {
        padding-right: 0;
        margin-right: 0;
      }
    }

    @include when(success) {
      .boss-progress-bar__inner {
        background-color: $--color-success;
      }

      .boss-progress__text {
        color: $--color-success;
      }
    }

    @include when(active) {
      .boss-progress-bar__inner {
        &::after{
          content: "";
          width: 0%;
          height: 100%;
          background: $--color-white;
          animation: progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    @keyframes progress-active {
      0% {
        width: 0;
        opacity: 0.1;
      }
      20% {
        width: 0;
        opacity: 0.5;
      }
      100% {
        width: 100%;
        opacity: 0;
      }
    }

    @include when(warning) {
      .boss-progress-bar__inner {
        background-color: $--color-warning;
      }

      .boss-progress__text {
        color: $--color-warning;
      }
    }

    @include when(exception) {
      .boss-progress-bar__inner {
        background-color: $--color-danger;
      }

      .boss-progress__text {
        color: $--color-danger;
      }
    }
  }

  @include b(progress-bar) {
    padding-right: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: -55px;
    box-sizing: border-box;

    @include e(outer) {
      height: 8px;
      border-radius: 100px;
      background-color: $--border-color-lighter;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
    }
    @include e(inner) {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: $--color-primary;
      text-align: right;
      border-radius: 100px;
      line-height: 1;
      white-space: nowrap;
      transition: width 0.6s ease;

      @include utils-vertical-center;
    }

    @include e(innerText) {
      display: inline-block;
      vertical-align: middle;
      color: $--color-white;
      font-size: 12px;
      margin: 0 5px;
    }
  }

  @keyframes progress {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 32px 0;
    }
  }
}
