@import "../../mixins/mixins";
@import "../../mixins/utils";
@import "common/_button";
@import "common/_var";

@mixin check-icon($--width) {
  width: $--width - 8px;
  height: $--width - 8px;
  top: ($--width - ($--width - 8px)) / 2 - 1px;
  left: ($--width - ($--width - 8px)) / 2 - 1px;
}
@include root {
  @include b(radio) {
    color: $--radio-font-color;
    font-weight: $--radio-font-weight;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: $--font-size-base;
    margin-right: 30px;
    @include utils-user-select(none);

    @include when(bordered) {
      padding: $--radio-bordered-padding;
      border-radius: $--border-radius-base;
      border: $--border-base;
      box-sizing: border-box;
      height: $--radio-bordered-height;

      &.is-checked {
        border-color: $--color-primary;
      }

      &.is-disabled {
        cursor: not-allowed;
        border-color: $--border-color-base;
        background-color: $--disabled-fill-base;
        color: $--disabled-color-base;
      }

      & + .boss-radio.is-bordered {
        margin-left: 10px;
      }
    }

    @include m(medium) {
      @include e(inner) {
        &::after {
          @include check-icon($--radio-bordered-medium-input-width);
        }
      }
      &.is-bordered {
        padding: $--radio-bordered-medium-padding;
        border-radius: $--button-medium-border-radius;
        height: $--radio-bordered-medium-height;
        .boss-radio__label {
          font-size: $--button-medium-font-size;
        }
        .boss-radio__inner {
          height: $--radio-bordered-medium-input-height;
          width: $--radio-bordered-medium-input-width;
        }
      }
    }
    @include m(small) {
      @include e(inner) {
        &::after {
          @include check-icon($--radio-bordered-small-input-width);
        }
      }
      &.is-bordered {
        padding: $--radio-bordered-small-padding;
        border-radius: $--button-small-border-radius;
        height: $--radio-bordered-small-height;
        .boss-radio__label {
          font-size: $--button-small-font-size;
        }
        .boss-radio__inner {
          height: $--radio-bordered-small-input-height;
          width: $--radio-bordered-small-input-width;
        }
      }
    }
    @include m(mini) {
      @include e(inner) {
        &::after {
          @include check-icon($--radio-bordered-mini-input-width);
        }
      }
      &.is-bordered {
        padding: $--radio-bordered-mini-padding;
        border-radius: $--button-mini-border-radius;
        height: $--radio-bordered-mini-height;
        .boss-radio__label {
          font-size: $--button-mini-font-size;
        }
        .boss-radio__inner {
          height: $--radio-bordered-mini-input-height;
          width: $--radio-bordered-mini-input-width;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @include e(input) {
      white-space: nowrap;
      cursor: pointer;
      outline: none;
      display: inline-block;
      line-height: 1;
      position: relative;
      vertical-align: middle;

      @include when(disabled) {
        .boss-radio__inner {
          background-color: $--radio-disabled-input-fill;
          border-color: $--radio-disabled-input-border-color;
          cursor: not-allowed;

          &::after {
            cursor: not-allowed;
            background-color: $--radio-disabled-icon-color;
          }

          & + .boss-radio__label {
            cursor: not-allowed;
          }
        }
        &.is-checked {
          .boss-radio__inner {
            background-color: $--radio-disabled-checked-input-fill;
            border-color: $--radio-disabled-checked-input-border-color;
            &::after {
              background-color: $--radio-disabled-checked-icon-color;
            }
          }
        }
        & + span.boss-radio__label {
          color: $--color-text-placeholder;
          cursor: not-allowed;
        }
      }

      @include when(checked) {
        .boss-radio__inner {
          transition: all 0.3s;
          border-color: $--radio-checked-input-border-color;

          &::before {
            position: absolute;
            top: -1px;
            left: -1px;
            width: 100%;
            height: 100%;
            border: 1px solid $--color-primary;
            border-radius: 50%;
            animation: radioEffect 0.36s ease-in-out;
            animation-fill-mode: both;
            content: "";
          }
          &::after {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }

    @include when(focus) {
      .boss-radio__inner {
        transition: all 0.3s;
        box-shadow: 0 0 0 3px rgba($--color-primary, 0.08);
      }
    }
    @include e(inner) {
      border: $--radio-input-border;
      border-radius: $--radio-input-border-radius;
      width: $--radio-input-width;
      height: $--radio-input-height;
      background-color: $--radio-input-background-color;
      position: relative;
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;

      &:hover {
        border-color: $--radio-input-border-color-hover;
      }

      &::after {
        @include check-icon($--radio-input-width);
        border-radius: $--radio-input-border-radius;
        background-color: $--radio-checked-icon-color;
        content: "";
        position: absolute;
        transform: scale(0);
        opacity: 0;
        transition: all 0.3s $--ease-in-out-circ;
      }
    }

    @include e(original) {
      opacity: 0;
      outline: none;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }

    @include e(label) {
      font-size: $--radio-font-size;
      padding-left: 10px;
    }

    @keyframes radioEffect {
      0% {
        transform: scale(1);
        opacity: 0.5;
      }
      100% {
        transform: scale(1.6);
        opacity: 0;
      }
    }
  }
}
