@import "../../mixins/mixins";
@import "common/var";
@import "./popper";

@include root {
  @include b(select-dropdown) {
    @include when(multiple) {
      & .boss-select-dropdown__item {
        &::after {
          position: absolute;
          right: 20px;
          color: transparent;
          font-family: "bosssoft-icons";
          content: "\e6da";
          font-size: 12px;
          text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
          font-weight: bold;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transition: all 0.2s;
        }
      }
      & .boss-select-dropdown__item {
        &:hover::after{
          color: rgba(#000, 0.87);
        }
      }
      & .boss-select-dropdown__item.selected {
        &::after {
          color: $--color-primary;
        }
      }
    }

    .boss-scrollbar.is-empty .boss-select-dropdown__list {
      padding: 0;
    }
  }

  @include b(select-dropdown__empty) {
    padding: $--select-dropdown-empty-padding;
    margin: 0;
    text-align: center;
    color: $--select-dropdown-empty-color;
    font-size: $--select-font-size;
  }

  @include b(select-dropdown__wrap) {
    max-height: $--select-dropdown-max-height;
  }

  @include b(select-dropdown__list) {
    list-style: none;
    padding: $--select-dropdown-padding;
    margin: 0;
    box-sizing: border-box;
  }
}
