@import "../../mixins/mixins";
@import "common/var";

@include root {
  @include b(step) {
    position: relative;
    flex-shrink: 1;

    @include pseudo(last-of-type) {
      @include e(main) {
        width: auto !important;
        & .boss-step__title::after {
          display: none;
        }
      }
      @include e(head) {
        &::after {
          display: none;
        }
      }
      // 只有未设置 space 的情况下才自适应宽度
      @include when(flex) {
        &:not(.is-simple){
          flex-basis: auto !important;
          flex-shrink: 0;
          flex-grow: 0;
        }
      }

      @include e((main, description)) {
        padding-right: 0;
      }
    }

    @include e(head) {
      position: relative;

      @include when(process) {
        border-color: $--color-primary;
        & .boss-step__icon.is-text {
          color: $--color-white;
          background: $--color-primary;
        }
      }

      @include when(wait) {
        color: $--color-text-secondary;
        border-color:  $--disabled-color-base;
        & .boss-step__icon {
          color: $--disabled-color-base;
        }
      }

      @include when(success) {
        color: $--color-success;
        border-color: $--color-success;
        &::after {
          background: $--color-success !important;
        }
      }

      @include when(error) {
        color: $--color-danger;
        border-color: $--color-danger;
        &::after {
          background: $--color-danger !important;
        }
      }

      @include when(finish) {
        color: $--color-primary;
        border-color: $--color-primary;
        &::after {
          background: $--color-primary !important;
        }
      }
    }

    @include e(icon) {
      position: relative;
      z-index: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      font-size: 14px;
      box-sizing: border-box;
      background: $--color-white;
      transition: 0.15s ease-out;

      @include when(text) {
        border-radius: 50%;
        border: 1px solid;
        border-color: inherit;
      }

      @include when(icon) {
        width: 32px;
      }
    }

    @include e(icon-inner) {
      display: inline-block;
      user-select: none;
      text-align: center;
      line-height: 1;
      color: inherit;

      &[class*="boss-icon"]:not(.is-status) {
        font-size: 25px;
        font-weight: normal;
      }

      // 组件自身表示状态的图标
      @include when(status) {
        transform: translateY(1px);
      }
    }

    @include e(main) {
      white-space: normal;
      text-align: left;
      padding-left: 8px;
    }

    @include e(title) {
      font-size: 16px;
      line-height: 32px;

      @include when(process) {
        font-weight: bold;
        color: $--color-heading;
      }

      @include when(wait) {
        color: $--color-text-secondary;
      }

      @include when(success) {
        color: $--color-success;
        &::after {
          background: $--color-success !important;
        }
      }

      @include when(error) {
        color: $--color-danger;
        &::after {
          background: $--color-danger !important;
        }
      }

      @include when(finish) {
        color: $--color-text-primary;
        &::after {
          background: $--color-primary !important;
        }
      }
    }

    @include e(description) {
      margin-top: -5px;
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;

      @include when(process) {
        color: $--color-text-primary;
      }

      @include when(wait) {
        color: $--color-text-secondary;
      }

      @include when(success) {
        color: $--color-success;
      }

      @include when(error) {
        color: $--color-danger;
      }

      @include when(finish) {
        color: $--color-text-secondary;
      }
    }

    @include when(horizontal) {
      display: inline-block;
      overflow: hidden;
      margin-right: 16px !important;
      @include e(head) {
        display: inline-block;
        vertical-align: top;
      }
      @include e(main) {
        display: inline-block;
        width: calc(100% - 50px);
      }
      @include e(title) {
        position: relative;
        display: inline-block;
        padding-right: 16px;
        margin-bottom: 8px;
        &::after {
          content: " ";
          width: 9999px;
          top: 50%;
          left: 100%;
          position: absolute;
          height: 1px;
          background: $--steps-line-color;
        }
      }
    }

    @include when(vertical) {
      display: flex;

      @include e(head) {
        flex-grow: 0;
        width: 32px;
        position: relative;
        &::after {
          content: " ";
          width: 1px;
          top: 40px;
          left: 50%;
          position: absolute;
          height: calc(100% - 48px);
          background: $--steps-line-color;
        }
      }

      @include e(main) {
        flex-grow: 1;
      }

      @include e(title) {
        line-height: 32px;
        padding-bottom: 8px;
      }

      @include e(icon) {
        @include when(icon) {
          width: 32px;
        }
      }
    }

    @include when(simple) {
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      justify-content: center;
      margin-right: 16px !important;
      @include e(head) {
        width: auto;
        font-size: 0;
        @include when(process){
          border-color: $--color-heading;
          .boss-step__icon {
            color: $--color-heading;
          }
        }
      }
      @include e(icon) {
        background: transparent !important;
        width: 16px;
        height: 16px;
        font-size: 12px;
      }

      @include e(icon-inner) {
        &[class*="boss-icon"]:not(.is-status) {
          font-size: 18px;
        }

        &.is-status {
          transform: scale(0.8) translateY(1px);
        }
      }

      @include e(main) {
        display: flex;
        align-items: stretch;
      }

      @include e(title) {
        font-size: 16px;
        line-height: 20px;
        &::before {
          transition: width .3s;
          width: 0%;
          height: 3px;
          position: absolute;
          left: 50%;
          bottom: -1px;
          transform: translateX(-50%);
          background: $--color-primary;
          content: " ";
        }
        @include when(process){
          &::before {
            width: 100%;
          }
        }
      }

      @include pseudo("not(:last-of-type)") {
        @include e(title) {
          word-break: break-all;
          flex: 1;
        }
      }

      @include e(arrow) {
        position: absolute;
        top: calc(50% - 5px);
        left: 100%;
        display: inline-block;
        width: 11px;
        height: 11px;
        border: 1px solid $--disabled-color-base;
        border-bottom: none;
        border-left: none;
        transform: rotate(45deg) translate(-50%, -50%);
      }

      @include pseudo(last-of-type) {
        @include e(arrow) {
          display: none;
        }
      }
    }
  }
}