@import "../../mixins/mixins";
@import "./common/var";

@include root {
  @include b(steps) {
    display: flex;

    @include m(simple) {
      border-bottom: 1px solid $--steps-line-color;
    }

    @include m(horizontal) {
      white-space: nowrap;
    }

    @include m(vertical) {
      height: 100%;
      flex-flow: column;
    }
  }
}
