@import "../../mixins/mixins";
@import "common/var";
@import "./common/transition";
@import "checkbox";

@include root {
  @include b(tree) {
    position: relative;
    cursor: default;
    background: $--color-white;
    color: $--tree-font-color;

    @include e(empty-block) {
      position: relative;
      min-height: 60px;
      text-align: center;
      width: 100%;
      height: 100%;
    }

    @include e(empty-text) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $--color-text-secondary;
      font-size: $--font-size-base;
    }

    @include e(drop-indicator) {
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $--color-primary;
    }

    @include e(search) {
      &-list {
        > div {
          cursor: pointer;
          display: flex;
          align-items: center;
          height: 26px;
          &:hover {
            background-color: $--tree-search-hover-background-color;
          }
          &.is-current {
            background: mix($--color-white, $--color-primary, 92%);
          }
        }
        &-icon {
          padding: 6px;
        }
      }
    }
  }

  @include b(tree-node) {
    white-space: nowrap;
    outline: none;
    // &:focus {
      /* focus */
      // > .boss-tree-node__content {
      //   background-color: $--tree-node-hover-background-color;
      // }
    // }

    @include when(drop-inner) {
      > .boss-tree-node__content .boss-tree-node__label {
        background-color: $--color-primary;
        color: #fff;
      }
    }

    @include e(content) {
      display: flex;
      align-items: center;
      height: 26px;
      cursor: pointer;

      & > .boss-tree-node__expand-icon {
        padding: 6px;
      }
      & > label.boss-checkbox {
        margin-right: 8px;
      }
      .boss-tree-node__label {
        flex: 1;
        padding-left: 5px;
        display: flex;
        align-items: center;
        height: 100%;
        border-radius: 2px;
        &:hover {
          background-color: $--tree-node-hover-background-color;
        }
      }
      .boss-tree.is-dragging & {
        cursor: move;

        & * {
          pointer-events: none;
        }
      }

      .boss-tree.is-dragging.is-drop-not-allow & {
        cursor: not-allowed;
      }
    }

    @include e(expand-icon) {
      cursor: pointer;
      color: $--tree-expand-icon-color;
      font-size: 12px;

      transform: rotate(0deg);
      transition: transform 0.3s;

      &.expanded {
        transform: rotate(90deg);
      }

      &.expaned-custom {
        transform: rotate(0) !important;
      }

      &.is-leaf.is-leaf-custom-icon {
        color: $--tree-expand-icon-color !important;
      }

      &.is-leaf {
        color: transparent;
        cursor: default;
      }
    }

    @include e(label) {
      font-size: $--font-size-base;
    }

    @include e(loading-icon) {
      margin-right: 8px;
      font-size: $--font-size-base;
      color: $--tree-expand-icon-color;
    }

    & > .boss-tree-node__children {
      overflow: hidden;
      background-color: transparent;
    }

    &.is-expanded > .boss-tree-node__children {
      display: block;
    }
  }

  .boss-tree--highlight-current .boss-tree-node.is-current > .boss-tree-node__content {
    .boss-tree-node__label {
      background-color: $--color-blue-2;
    }
  }
}
