@import "color/_color-palette.scss";
@import "color/convert";
@import "wave";
  /* BOSS-ELEMENT-UI Chalk Variables */
  // ant theme
  // Special comment for theme configurator
  // type|skipAutoTranslation|Category|Order
  // skipAutoTranslation 1

  /* Transition
  -------------------------- */
  $--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default !global;
  $--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default !global;
  $--fade-linear-transition: opacity 200ms linear !default !global;
  $--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default !global;
  $--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default !global;
  $--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default !global;

  $--ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
  $--ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
  $--ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  $--ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  $--ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  $--ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  $--ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  $--ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
  $--ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  $--ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  $--ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  $--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  $--ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  $--ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  $--animation-duration-base: 0.2s;
  $--animation-duration-fast: 0.1s;
  $--animation-duration-slow: 0.3s; // Modal
  /* Color
  -------------------------- */
  /// color|1|Brand Color|0
  $--color-primary: #1890ff !default !global;
  
  /// color|1|Background Color|4
  $--color-white: #FFFFFF !default !global;
  /// color|1|Background Color|4
  $--color-black: #000000 !default !global;
  $--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default !global;
  $--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default !global;
  $--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default !global;
  $--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default !global;
  $--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default !global;
  $--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default !global;
  $--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default !global;
  $--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default !global;
  $--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default !global;
  /// color|1|Functional Color|1
  $--color-success: #52c41a !default !global;
  /// color|1|Functional Color|1
  $--color-warning: #faad14 !default !global;
  /// color|1|Functional Color|1
  $--color-danger: #f5222d !default !global;
  /// color|1|Functional Color|1
  $--color-info: #909399 !default !global;

  $--color-success-light: mix($--color-white, $--color-success, 80%) !default !global;
  $--color-warning-light: mix($--color-white, $--color-warning, 80%) !default !global;
  $--color-danger-light: mix($--color-white, $--color-danger, 80%) !default !global;
  $--color-info-light: mix($--color-white, $--color-info, 80%) !default !global;

  $--color-success-lighter: mix($--color-white, $--color-success, 90%) !default !global;
  $--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default !global;
  $--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default !global;
  $--color-info-lighter: mix($--color-white, $--color-info, 90%) !default !global;
  /// color|1|Font Color|2
  $--color-heading: rgba($--color-black, 0.85)  !default !global;
  /// color|1|Font Color|2
  $--color-text-primary: rgba($--color-black, 0.65)  !default !global;
  /// color|1|Font Color|2
  $--color-text-regular: rgba($--color-black, 0.65)  !default !global;
  /// color|1|Font Color|2
  $--color-text-secondary: rgba($--color-black, 0.45) !default !global;
  /// color|1|Font Color|2
  $--color-text-placeholder: rgba(191,191,191,1) !default !global;
  /// color|1|Border Color|3
  $--border-color-base: #d9d9d9 !default !global;
  /// color|1|Border Color|3
  $--border-color-light: #E4E7ED !default !global;
  /// color|1|Border Color|3
  $--border-color-lighter: #EBEEF5 !default !global;
  /// color|1|Border Color|3
  $--border-color-extra-light: #F2F6FC !default !global;
  /// color|1|Border Color|3
  $--border-color-split:#e8e8e8 !default !global;
  $--border-color-split-hsv:hsv(0, 0, 0.94) !default !global;
  /* Color Palette
  -------------------------- */
  // primary blue
  $--color-blue-6:$--color-primary !default !global;
  $--color-blue-1:color-palette($--color-blue-6, 1) !default !global;
  $--color-blue-2:color-palette($--color-blue-6, 2) !default !global;
  $--color-blue-3:color-palette($--color-blue-6, 3) !default !global;
  $--color-blue-4:color-palette($--color-blue-6, 4) !default !global;
  $--color-blue-5:color-palette($--color-blue-6, 5) !default !global;
  $--color-blue-7:color-palette($--color-blue-6, 7) !default !global;
  $--color-blue-8:color-palette($--color-blue-6, 8) !default !global;
  $--color-blue-9:color-palette($--color-blue-6, 9) !default !global;
  $--color-blue-9:color-palette($--color-blue-6, 10) !default !global;

  // danger red
  $--color-red-6:$--color-danger !default !global;
  $--color-red-1:color-palette($--color-red-6, 1) !default !global;
  $--color-red-2:color-palette($--color-red-6, 2) !default !global;
  $--color-red-3:color-palette($--color-red-6, 3) !default !global;
  $--color-red-4:color-palette($--color-red-6, 4) !default !global;
  $--color-red-5:color-palette($--color-red-6, 5) !default !global;
  $--color-red-7:color-palette($--color-red-6, 7) !default !global;
  $--color-red-8:color-palette($--color-red-6, 8) !default !global;
  $--color-red-9:color-palette($--color-red-6, 9) !default !global;
  $--color-red-9:color-palette($--color-red-6, 10) !default !global;

  // warning yellow
  $--color-yellow-6:$--color-warning !default !global;
  $--color-yellow-1:color-palette($--color-yellow-6, 1) !default !global;
  $--color-yellow-2:color-palette($--color-yellow-6, 2) !default !global;
  $--color-yellow-3:color-palette($--color-yellow-6, 3) !default !global;
  $--color-yellow-4:color-palette($--color-yellow-6, 4) !default !global;
  $--color-yellow-5:color-palette($--color-yellow-6, 5) !default !global;
  $--color-yellow-7:color-palette($--color-yellow-6, 7) !default !global;
  $--color-yellow-8:color-palette($--color-yellow-6, 8) !default !global;
  $--color-yellow-9:color-palette($--color-yellow-6, 9) !default !global;
  $--color-yellow-9:color-palette($--color-yellow-6, 10) !default !global;

  // success green
  $--color-green-6:$--color-success !default !global;
  $--color-green-1:color-palette($--color-green-6, 1) !default !global;
  $--color-green-2:color-palette($--color-green-6, 2) !default !global;
  $--color-green-3:color-palette($--color-green-6, 3) !default !global;
  $--color-green-4:color-palette($--color-green-6, 4) !default !global;
  $--color-green-5:color-palette($--color-green-6, 5) !default !global;
  $--color-green-7:color-palette($--color-green-6, 7) !default !global;
  $--color-green-8:color-palette($--color-green-6, 8) !default !global;
  $--color-green-9:color-palette($--color-green-6, 9) !default !global;
  $--color-green-9:color-palette($--color-green-6, 10) !default !global;

  // info gray
  $--color-gray-6:$--color-info !default !global;
  $--color-gray-1:color-palette($--color-gray-6, 1) !default !global;
  $--color-gray-2:color-palette($--color-gray-6, 2) !default !global;
  $--color-gray-3:color-palette($--color-gray-6, 3) !default !global;
  $--color-gray-4:color-palette($--color-gray-6, 4) !default !global;
  $--color-gray-5:color-palette($--color-gray-6, 5) !default !global;
  $--color-gray-7:color-palette($--color-gray-6, 7) !default !global;
  $--color-gray-8:color-palette($--color-gray-6, 8) !default !global;
  $--color-gray-9:color-palette($--color-gray-6, 9) !default !global;
  $--color-gray-9:color-palette($--color-gray-6, 10) !default !global;

  // Background
  /// color|1|Background Color|4
  $--background-color-light: #FAFAFA !default !global;
  /// color|1|Background Color|4#FAFAFA
  $--background-color-base: #F5F5F5 !default !global;

  /* Link
  -------------------------- */
  $--link-color: $--color-primary !default !global;
  $--link-hover-color: colorPalette($--link-color, 5)!default !global;

  /* Border
  -------------------------- */
  $--border-width-base: 1px !default !global;
  $--border-style-base: solid !default !global;
  $--border-color-hover: $--color-text-placeholder !default !global;
  $--border-base: $--border-width-base $--border-style-base $--border-color-base !default !global;
  /// borderRadius|1|Radius|0
  $--border-radius-base: 2px !default !global;
  /// borderRadius|1|Radius|0
  $--border-radius-small: 2px !default !global;
  /// borderRadius|1|Radius|0
  $--border-radius-circle: 100% !default !global;
  /// borderRadius|1|Radius|0
  $--border-radius-zero: 0 !default !global;

  // Box-shadow
  /// boxShadow|1|Shadow|1
  $--box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15) !default !global;
  // boxShadow|1|Shadow|1
  $--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default !global;
  /// boxShadow|1|Shadow|1
  $--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default !global;

  /* Fill
  -------------------------- */
  $--fill-base: $--color-white !default !global;

  /* Typography
  -------------------------- */
  $--font-path: 'fonts' !default !global;
  $--font-display: 'auto' !default !global;
  /// fontSize|1|Font Size|0
  $--font-size-extra-large: 20px !default !global;
  /// fontSize|1|Font Size|0
  $--font-size-large: 18px !default !global;
  /// fontSize|1|Font Size|0
  $--font-size-medium: 16px !default !global;
  /// fontSize|1|Font Size|0
  $--font-size-base: 14px !default !global;
  /// fontSize|1|Font Size|0
  $--font-size-small: 13px !default !global;
  /// fontSize|1|Font Size|0
  $--font-size-extra-small: 12px !default !global;
  /// fontWeight|1|Font Weight|1
  $--font-weight-primary: 500 !default !global;
  /// fontWeight|1|Font Weight|1
  $--font-weight-secondary: 100 !default !global;
  /// fontLineHeight|1|Line Height|2
  $--font-line-height-primary: 24px !default !global;
  /// fontLineHeight|1|Line Height|2
  $--font-line-height-secondary: 16px !default !global;
  $--font-color-disabled-base: #bbb !default !global;
  /* Size
  -------------------------- */
  $--size-base: 14px !default !global;

  /* z-index
  -------------------------- */
  $--index-normal: 1 !default !global;
  $--index-top: 1000 !default !global;
  $--index-popper: 2000 !default !global;

  /* Disable base
  -------------------------- */
  $--disabled-fill-base: $--background-color-base !default !global;
  $--disabled-color-base: rgba($--color-black, 0.25) !default !global;
  $--disabled-border-base: $--border-color-base !default !global;

  /* Icon
  -------------------------- */
  $--icon-color: #666 !default !global;
  $--icon-color-base: $--color-info !default !global;

  /* Checkbox
  -------------------------- */
  /// fontSize||Font|1
  $--checkbox-font-size: 14px !default !global;
  /// fontWeight||Font|1
  $--checkbox-font-weight: $--font-weight-primary !default !global;
  /// color||Color|0
  $--checkbox-font-color: $--color-text-regular !default !global;
  $--checkbox-input-height: 16px !default !global;
  $--checkbox-input-width: 16px !default !global;
  /// borderRadius||Border|2
  $--checkbox-border-radius: $--border-radius-small !default !global;
  /// color||Color|0
  $--checkbox-background-color: $--color-white !default !global;
  $--checkbox-input-border: $--border-base !default !global;

  /// color||Color|0
  $--checkbox-disabled-border-color: $--border-color-base !default !global;
  $--checkbox-disabled-input-fill: $--background-color-base !default !global;
  $--checkbox-disabled-icon-color: $--disabled-color-base !default !global;

  $--checkbox-disabled-checked-input-fill: $--background-color-base !default !global;
  $--checkbox-disabled-checked-input-border-color: $--border-color-base !default !global;
  $--checkbox-disabled-checked-icon-color: $--disabled-color-base !default !global;

  /// color||Color|0
  $--checkbox-checked-font-color: $--color-primary !default !global;
  $--checkbox-checked-input-border-color: $--color-primary !default !global;
  /// color||Color|0
  $--checkbox-checked-background-color: $--color-primary !default !global;
  $--checkbox-checked-icon-color: $--fill-base !default !global;

  $--checkbox-input-border-color-hover: $--color-primary !default !global;
  /// height||Other|4
  $--checkbox-bordered-height: 40px !default !global;
  /// padding||Spacing|3
  $--checkbox-bordered-padding: 9px 20px 9px 10px !default !global;
  /// padding||Spacing|3
  $--checkbox-bordered-medium-padding: 7px 20px 7px 10px !default !global;
  /// padding||Spacing|3
  $--checkbox-bordered-small-padding: 5px 15px 5px 10px !default !global;
  /// padding||Spacing|3
  $--checkbox-bordered-mini-padding: 3px 15px 3px 10px !default !global;
  $--checkbox-bordered-medium-input-height: 14px !default !global;
  $--checkbox-bordered-medium-input-width: 14px !default !global;
  /// height||Other|4
  $--checkbox-bordered-medium-height: 36px !default !global;
  $--checkbox-bordered-small-input-height: 12px !default !global;
  $--checkbox-bordered-small-input-width: 12px !default !global;
  /// height||Other|4
  $--checkbox-bordered-small-height: 32px !default !global;
  $--checkbox-bordered-mini-input-height: 12px !default !global;
  $--checkbox-bordered-mini-input-width: 12px !default !global;
  /// height||Other|4
  $--checkbox-bordered-mini-height: 28px !default !global;

  /// color||Color|0
  $--checkbox-button-checked-background-color: $--color-primary !default !global;
  $--checkbox-button-checked-hover-background-color: $--color-blue-5 !default !global;
  /// color||Color|0
  $--checkbox-button-checked-font-color: $--color-white !default !global;
  /// color||Color|0
  $--checkbox-button-checked-border-color: $--color-primary !default !global;
  $--checkbox-button-checked-hover-border-color: $--color-blue-5 !default !global;
  $--checkbox-button-disabled-checked-input-fill: lighten($--color-black, 90%) !default !global;
  $--checkbox-button-disabled-checked-icon-color: $--color-white !default !global;



  /* Radio
  -------------------------- */
  /// fontSize||Font|1
  $--radio-font-size: $--font-size-base !default !global;
  /// fontWeight||Font|1
  $--radio-font-weight: $--font-weight-primary !default !global;
  /// color||Color|0
  $--radio-font-color: $--color-text-regular !default !global;
  $--radio-input-height: 16px !default !global;
  $--radio-input-width: 16px !default !global;
  /// borderRadius||Border|2
  $--radio-input-border-radius: $--border-radius-circle !default !global;
  /// color||Color|0
  $--radio-input-background-color: $--color-white !default !global;
  $--radio-input-border: $--border-base !default !global;
  /// color||Color|0
  $--radio-input-border-color: $--border-color-base !default !global;
  /// color||Color|0
  $--radio-icon-color: $--color-white !default !global;

  $--radio-disabled-input-border-color: $--disabled-border-base !default !global;
  $--radio-disabled-input-fill: $--disabled-fill-base !default !global;
  $--radio-disabled-icon-color: $--disabled-color-base !default !global;

  $--radio-disabled-checked-input-border-color: $--disabled-border-base !default !global;
  $--radio-disabled-checked-input-fill: $--disabled-fill-base !default !global;
  $--radio-disabled-checked-icon-color: $--disabled-color-base !default !global;

  /// color||Color|0
  $--radio-checked-font-color: $--color-primary !default !global;
  /// color||Color|0
  $--radio-checked-input-border-color: $--color-primary !default !global;
  /// color||Color|0
  $--radio-checked-input-background-color: $--color-white !default !global;
  /// color||Color|0
  $--radio-checked-icon-color: $--color-primary !default !global;

  $--radio-input-border-color-hover: $--color-primary !default !global;

  $--radio-bordered-height: 40px !default !global;
  $--radio-bordered-padding: 12px 20px 0 10px !default !global;
  $--radio-bordered-medium-padding: 10px 20px 0 10px !default !global;
  $--radio-bordered-small-padding: 8px 15px 0 10px !default !global;
  $--radio-bordered-mini-padding: 6px 15px 0 10px !default !global;
  $--radio-bordered-medium-input-height: 14px !default !global;
  $--radio-bordered-medium-input-width: 14px !default !global;
  $--radio-bordered-medium-height: 36px !default !global;
  $--radio-bordered-small-input-height: 12px !default !global;
  $--radio-bordered-small-input-width: 12px !default !global;
  $--radio-bordered-small-height: 32px !default !global;
  $--radio-bordered-mini-input-height: 12px !default !global;
  $--radio-bordered-mini-input-width: 12px !default !global;
  $--radio-bordered-mini-height: 28px !default !global;

  /// fontSize||Font|1
  $--radio-button-font-size: $--font-size-base !default !global;
  /// color||Color|0
  $--radio-button-checked-background-color: $--color-primary !default !global;
  /// color||Color|0
  $--radio-button-checked-font-color: $--color-white !default !global;
  $--radio-button-checked-hover-background-color: $--color-blue-5 !default !global;
  $--radio-button-checked-hover-border-color: $--color-blue-5 !default !global;
  $--radio-button-plain-checked-font-color: $--color-primary !default !global;
  $--radio-button-plain-checked-hover-font-color: $--color-blue-5 !default !global;
  /// color||Color|0
  $--radio-button-checked-border-color: $--color-primary !default !global;
  $--radio-button-disabled-checked-fill: lighten($--color-black, 90%) !default !global;
  $--radio-button-disabled-checked-color: $--color-white !default !global;

  /* Select
  -------------------------- */
  $--select-border-color-hover: $--border-color-hover !default !global;
  $--select-disabled-border: $--disabled-border-base !default !global;
  /// fontSize||Font|1
  $--select-font-size: $--font-size-base !default !global;
  $--select-close-hover-color: $--color-text-secondary !default !global;

  $--select-input-color: $--color-text-placeholder !default !global;
  $--select-multiple-input-color: #666 !default !global;
  /// color||Color|0
  $--select-input-focus-border-color: $--color-primary !default !global;
  /// fontSize||Font|1
  $--select-input-font-size: 14px !default !global;

  $--select-option-color: $--color-text-regular !default !global;
  $--select-option-disabled-color: $--disabled-color-base !default !global;
  $--select-option-disabled-background: $--disabled-fill-base !default !global;
  /// height||Other|4
  $--select-option-height: 22px !default !global;
  $--select-option-hover-background: $--color-blue-1 !default !global;
  /// color||Color|0
  $--select-option-selected-font-color: $--color-text-regular !default !global;
  $--select-option-selected-hover: $--background-color-base !default !global;
  $--select-item-selected-font-weight: 600;

  $--select-group-color: $--color-text-secondary !default !global;
  $--select-group-height: 30px !default !global;
  $--select-group-font-size: 12px !default !global;

  $--select-dropdown-background: $--color-white !default !global;
  $--select-dropdown-shadow: $--box-shadow-light !default !global;
  $--select-dropdown-empty-color: #999 !default !global;
  /// height||Other|4
  $--select-dropdown-max-height: 274px !default !global;
  $--select-dropdown-padding: 4px 0 !default !global;
  $--select-dropdown-empty-padding: 10px 0 !default !global;
  $--select-dropdown-border: solid 1px $--border-color-light !default !global;

  /* Alert
  -------------------------- */
  $--alert-padding: 8px 15px !default !global;
  /// borderRadius||Border|2
  $--alert-border-radius: $--border-radius-base !default !global;
  /// fontSize||Font|1
  $--alert-title-font-size: 14px !default !global;
  /// fontSize||Font|1
  $--alert-description-font-size: 12px !default !global;
  /// fontSize||Font|1
  $--alert-close-font-size: 14px !default !global;
  /// fontSize||Font|1
  $--alert-close-customed-font-size: 12px !default !global;

  $--alert-success-color: $--color-green-1 !default !global;
  $--alert-info-color: $--color-gray-1 !default !global;
  $--alert-warning-color: $--color-yellow-1 !default !global;
  $--alert-danger-color: $--color-red-1 !default !global;

  $--alert-success-dark-background: $--color-green-7 !default !global;
  $--alert-info-dark-background: $--color-gray-7 !default !global;
  $--alert-warning-dark-background: $--color-yellow-7 !default !global;
  $--alert-danger-dark-background: $--color-red-7 !default !global;

  $--alert-success-border-color: $--color-green-3 !default !global;
  $--alert-info-border-color: $--color-gray-3 !default !global;
  $--alert-warning-border-color: $--color-yellow-3 !default !global;
  $--alert-danger-border-color: $--color-red-2 !default !global;

  /// height||Other|4
  $--alert-icon-size: 16px !default !global;
  /// height||Other|4
  $--alert-icon-large-size: 28px !default !global;

  /* MessageBox
  -------------------------- */
  /// color||Color|0
  $--messagebox-title-color: $--color-text-primary !default !global;
  $--msgbox-width: 420px !default !global;
  $--msgbox-border-radius: $--border-radius-base !default !global;
  /// fontSize||Font|1
  $--messagebox-font-size: $--font-size-large !default !global;
  /// fontSize||Font|1
  $--messagebox-content-font-size: $--font-size-base !default !global;
  /// color||Color|0
  $--messagebox-content-color: $--color-text-regular !default !global;
  /// fontSize||Font|1
  $--messagebox-error-font-size: 12px !default !global;
  $--msgbox-padding-primary: 15px !default !global;
  /// color||Color|0
  $--messagebox-success-color: $--color-success !default !global;
  /// color||Color|0
  $--messagebox-info-color: $--color-info !default !global;
  /// color||Color|0
  $--messagebox-warning-color: $--color-warning !default !global;
  /// color||Color|0
  $--messagebox-danger-color: $--color-danger !default !global;

  /* Message
  -------------------------- */
  $--message-shadow: $--box-shadow-base !default !global;
  $--message-min-width: 380px !default !global;
  $--message-background-color: #edf2fc !default !global;
  $--message-padding: 15px 15px 15px 20px !default !global;
  /// color||Color|0
  $--message-close-icon-color: $--color-text-placeholder !default !global;
  /// height||Other|4
  $--message-close-size: 16px !default !global;
  /// color||Color|0
  $--message-close-hover-color: $--color-text-secondary !default !global;

  /// color||Color|0
  $--message-success-font-color: $--color-success !default !global;
  /// color||Color|0
  $--message-info-font-color: $--color-info !default !global;
  /// color||Color|0
  $--message-warning-font-color: $--color-warning !default !global;
  /// color||Color|0
  $--message-danger-font-color: $--color-danger !default !global;

  /* Notification
  -------------------------- */
  $--notification-width: 330px !default !global;
  /// padding||Spacing|3
  $--notification-padding: 14px 26px 14px 13px !default !global;
  $--notification-radius: 8px !default !global;
  $--notification-shadow: $--box-shadow-light !default !global;
  /// color||Color|0
  $--notification-border-color: $--border-color-lighter !default !global;
  $--notification-icon-size: 24px !default !global;
  $--notification-close-font-size: $--message-close-size !default !global;
  $--notification-group-margin-left: 13px !default !global;
  $--notification-group-margin-right: 8px !default !global;
  /// fontSize||Font|1
  $--notification-content-font-size: $--font-size-base !default !global;
  /// color||Color|0
  $--notification-content-color: $--color-text-regular !default !global;
  /// fontSize||Font|1
  $--notification-title-font-size: 16px !default !global;
  /// color||Color|0
  $--notification-title-color: $--color-text-primary !default !global;

  /// color||Color|0
  $--notification-close-color: $--color-text-secondary !default !global;
  /// color||Color|0
  $--notification-close-hover-color: $--color-text-regular !default !global;

  /// color||Color|0
  $--notification-success-icon-color: $--color-success !default !global;
  /// color||Color|0
  $--notification-info-icon-color: $--color-info !default !global;
  /// color||Color|0
  $--notification-warning-icon-color: $--color-warning !default !global;
  /// color||Color|0
  $--notification-danger-icon-color: $--color-danger !default !global;

  /* Input
  -------------------------- */
  $--input-font-size: $--font-size-base !default !global;
  /// color||Color|0
  $--input-font-color: $--color-text-regular !default !global;
  /// height||Other|4
  $--input-width: 140px !default !global;
  /// height||Other|4
  $--input-height: 32px !default !global;
  $--input-border: $--border-base !default !global;
  $--input-border-color: $--border-color-base !default !global;
  $--input-border-focus-shadow: 0 0 0 2px rgba($--color-primary, 0.2) !default !global;
  /// borderRadius||Border|2
  $--input-border-radius: $--border-radius-base !default !global;
  $--input-border-color-hover: $--color-blue-5 !default !global;
  /// color||Color|0
  $--input-background-color: $--color-white !default !global;
  $--input-fill-disabled: $--disabled-fill-base !default !global;
  $--input-color-disabled: $--disabled-color-base !default !global;
  /// color||Color|0
  $--input-icon-color: $--color-text-placeholder !default !global;
  /// color||Color|0
  $--input-placeholder-color: $--color-text-placeholder !default !global;
  $--input-max-width: 314px !default !global;

  $--input-hover-border: $--color-blue-5 !default !global;
  $--input-clear-hover-color: $--color-text-secondary !default !global;

  $--input-focus-border: $--color-blue-5 !default !global;
  $--input-focus-fill: $--color-white !default !global;

  $--input-disabled-fill: $--disabled-fill-base !default !global;
  $--input-disabled-border: $--disabled-border-base !default !global;
  $--input-disabled-color: $--disabled-color-base !default !global;
  $--input-disabled-placeholder-color: $--disabled-color-base !default !global;

  /// fontSize||Font|1
  $--input-medium-font-size: 16px !default !global;
  /// height||Other|4
  $--input-medium-height: 40px !default !global;
  /// fontSize||Font|1
  $--input-small-font-size: 14px !default !global;
  /// height||Other|4
  $--input-small-height: 32px !default !global;
  /// fontSize||Font|1
  $--input-mini-font-size: 14px !default !global;
  /// height||Other|4
  $--input-mini-height: 24px !default !global;
  /// width||Other|4
  $--input-number-crease-width: 22px !default !global;
  $--input-number-width: 90px !default !global;
  /// color||Other|4
  $--input-number-crease-background-color: $--color-white !default !global;

  /* Cascader
  -------------------------- */
  /// color||Color|0
  $--cascader-menu-font-color: #314659 !default !global;
  /// color||Color|0
  $--cascader-menu-selected-font-color: #314659 !default !global;
  $--cascader-menu-selected-background-color: #fafafa !default !global;
  $--cascader-menu-fill: $--fill-base !default !global;
  $--cascader-menu-font-size: $--font-size-base !default !global;
  $--cascader-menu-radius: $--border-radius-base !default !global;
  $--cascader-menu-border: solid 1px $--border-color-light !default !global;
  $--cascader-menu-shadow: $--box-shadow-light !default !global;
  $--cascader-node-background-hover: $--color-blue-1 !default !global;
  $--cascader-node-color-disabled:$--disabled-color-base !default !global;
  $--cascader-color-empty:$--color-text-placeholder !default !global;
  $--cascader-tag-background: #fafafa !default !global;

  /* Group
  -------------------------- */
  $--group-option-flex: 0 0 (1/5) * 100% !default !global;
  $--group-option-offset-bottom: 12px !default !global;
  $--group-option-fill-hover: rgba($--color-black, 0.06) !default !global;
  $--group-title-color: $--color-black !default !global;
  $--group-title-font-size: $--font-size-base !default !global;
  $--group-title-width: 66px !default !global;

  /* Tab
  -------------------------- */
  $--tab-font-size: $--font-size-base !default !global;
  $--tab-border-line: 1px solid #e4e4e4 !default !global;
  $--tab-header-color-active: $--color-text-secondary !default !global;
  $--tab-header-color-hover: $--color-text-regular !default !global;
  $--tab-header-color: $--color-text-regular !default !global;
  $--tab-header-fill-active: rgba($--color-black, 0.06) !default !global;
  $--tab-header-fill-hover: rgba($--color-black, 0.06) !default !global;
  $--tab-vertical-header-width: 90px !default !global;
  $--tab-vertical-header-count-color: $--color-white !default !global;
  $--tab-vertical-header-count-fill: $--color-text-secondary !default !global;

  /* Button
  -------------------------- */
  /// fontSize||Font|1
  $--button-font-size: $--font-size-base !default !global;
  /// fontWeight||Font|1
  $--button-font-weight: 400 !default !global;
  /// borderRadius||Border|2
  $--button-border-radius: $--border-radius-base !default !global;
  /// padding||Spacing|3
  $--button-padding-vertical: 8px !default !global;
  /// padding||Spacing|3
  $--button-padding-horizontal: 15px !default !global;

  /// fontSize||Font|1
  $--button-medium-font-size: $--font-size-base !default !global;
  /// borderRadius||Border|2
  $--button-medium-border-radius: $--border-radius-base !default !global;
  /// padding||Spacing|3
  $--button-medium-padding-vertical: 12px !default !global;
  /// padding||Spacing|3
  $--button-medium-padding-horizontal: 18px !default !global;

  /// fontSize||Font|1
  $--button-small-font-size: 14px !default !global;
  $--button-small-border-radius:$--border-radius-base !default !global;
  /// padding||Spacing|3
  $--button-small-padding-vertical: 8px !default !global;
  /// padding||Spacing|3
  $--button-small-padding-horizontal: 15px !default !global;
  /// fontSize||Font|1
  $--button-mini-font-size: 12px !default !global;
  $--button-mini-border-radius: $--border-radius-base !default !global;
  /// padding||Spacing|3
  $--button-mini-padding-vertical: 5px !default !global;
  /// padding||Spacing|3
  $--button-mini-padding-horizontal: 10px !default !global;

  /// color||Color|0
  $--button-default-font-color: $--color-text-regular !default !global;
  /// color||Color|0
  $--button-default-background-color: $--color-white !default !global;
  /// color||Color|0
  $--button-default-border-color: $--border-color-base !default !global;

  /// color||Color|0
  $--button-disabled-font-color: $--disabled-color-base !default !global;
  /// color||Color|0
  $--button-disabled-background-color: $--disabled-fill-base !default !global;
  /// color||Color|0
  $--button-disabled-border-color: $--disabled-border-base !default !global;

  /// color||Color|0
  $--button-primary-border-color: $--color-blue-6 !default !global;
  /// color||Color|0
  $--button-primary-font-color: $--color-white !default !global;
  /// color||Color|0
  $--button-primary-background-color: $--color-blue-6 !default !global;

  /// color||Color|0
  $--button-success-border-color: $--color-green-6 !default !global;
  /// color||Color|0
  $--button-success-font-color: $--color-white !default !global;
  /// color||Color|0
  $--button-success-background-color: $--color-green-6 !default !global;

  /// color||Color|0
  $--button-warning-border-color: $--color-yellow-6 !default !global;
  /// color||Color|0
  $--button-warning-font-color: $--color-white !default !global;
  /// color||Color|0
  $--button-warning-background-color: $--color-yellow-6 !default !global;

  /// color||Color|0
  $--button-danger-border-color: $--color-red-5 !default !global;
  /// color||Color|0
  $--button-danger-font-color: $--color-white !default !global;
  /// color||Color|0
  $--button-danger-background-color: $--color-red-5 !default !global;
  
  /// color||Color|0
  $--button-info-border-color: $--color-gray-5 !default !global;
  /// color||Color|0
  $--button-info-font-color: $--color-white !default !global;
  /// color||Color|0
  $--button-info-background-color: $--color-gray-5 !default !global;

  $--button-hover-tint-percent: 20% !default !global;
  $--button-active-shade-percent: 10% !default !global;
  $--button-shadow: 0 2px 0 rgba(0, 0, 0, 0.015) !default !global;

  /* cascader
  -------------------------- */
  $--cascader-height: 200px !default !global;

  /* Switch
  -------------------------- */
  /// color||Color|0
  $--switch-on-color: $--color-primary !default !global;
  /// color||Color|0
  $--switch-off-color: $--border-color-base !default !global;
  /// fontSize||Font|1
  $--switch-font-size: $--font-size-base !default !global;
  $--switch-core-border-radius: 100px !default !global;
  // height||Other|4 TODO: width 代码写死的40px 所以下面这三个属性都没意义
  $--switch-width: 44px !default !global;
  // height||Other|4
  $--switch-height: 22px !default !global;
  // height||Other|4
  $--switch-button-size: 18px !default !global;

  /* Dialog
  -------------------------- */
  $--dialog-background-color: $--color-white !default !global;
  $--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default !global;
  $--dialog-header-border:1px solid #e8e8e8 !default !global;
  $--dialog-footer-border:1px solid #e8e8e8 !default !global;
  /// fontSize||Font|1
  $--dialog-title-font-size: $--font-size-medium !default !global;
  /// fontSize||Font|1
  $--dialog-content-font-size: 14px !default !global;
  /// fontLineHeight||LineHeight|2
  $--dialog-font-line-height: $--font-line-height-primary !default !global;
  /// padding||Spacing|3
  $--dialog-padding-primary: 20px !default !global;

  /* Table
  -------------------------- */
  /// color||Color|0
  $--table-border-color: $--border-color-split !default !global;
  $--table-border: 1px solid $--table-border-color !default !global;
  /// color||Color|0
  $--table-font-color: $--color-text-regular !default !global;
  /// color||Color|0
  $--table-header-font-color: $--color-heading !default !global;
  /// color||Color|0
  $--table-row-hover-background-color: $--color-blue-1 !default !global;
  $--table-row-selected-background-color: $--background-color-light !default !global;
  $--table-current-row-background-color: $--background-color-light !default !global;
  /// color||Color|0
  $--table-header-background-color: $--background-color-light !default !global;
  $--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12) !default !global;
  $--table-sort-hover-background-color:darken($--background-color-light, 3%) !default !global;
  $--table-sort-row-background-color: $--background-color-light !default !global;
  $--table-header-sort-bg: $--background-color-base;
  $--table-body-sort-bg: rgba(0, 0, 0, 0.01);
  $--table-expanded-row-bg: #fbfbfb;
  $--table-header-icon-color: #bfbfbf;
  $--table-sort-caret-border-color: rgba(0, 0, 0, 0.45);

  /* Pagination
  -------------------------- */
  /// fontSize||Font|1
  $--pagination-font-size: 14px !default !global;
  /// color||Color|0
  $--pagination-background-color: $--color-white !default !global;
  /// color||Color|0
  $--pagination-font-color: $--color-text-primary !default !global;
  $--pagination-border-radius: $--border-radius-base !default !global;
  $--pagination-border: $--border-base !default !global;
  $--pagination-more-color: rgba(#000, 0.25);
  /// color||Color|0
  $--pagination-button-color: $--color-text-primary !default !global;
  /// height||Other|4
  $--pagination-button-width: 32px !default !global;
  /// height||Other|4
  $--pagination-button-height: 32px !default !global;
  /// color||Color|0
  $--pagination-disabled-color: $--disabled-color-base !default !global;
  $--pagination-disabled-background: $--disabled-fill-base !default !global;
  $--pagination-button-disabled-color: $--disabled-color-base !default !global;
  $--pagination-disabled-button-disabled-color: $--color-text-secondary !default !global;
  /// color||Color|0
  $--pagination-button-disabled-background-color: $--color-white !default !global;
  /// color||Color|0
  $--pagination-hover-color: $--color-primary !default !global;
  $--pagination-active-disabled-background: #dbdbdb !default !global;

  /* Popup
  -------------------------- */
  /// color||Color|0
  $--popup-modal-background-color: $--color-black !default !global;
  /// opacity||Other|1
  $--popup-modal-opacity: 0.5 !default !global;

  /* Popover
  -------------------------- */
  /// color||Color|0
  $--popover-background-color: $--color-white !default !global;
  /// fontSize||Font|1
  $--popover-font-size: $--font-size-base !default !global;
  /// color||Color|0
  $--popover-border-color: $--border-color-lighter !default !global;
  $--popover-arrow-size: 6px !default !global;
  /// padding||Spacing|3
  $--popover-padding: 12px !default !global;
  $--popover-padding-large: 18px 20px !default !global;
  /// fontSize||Font|1
  $--popover-title-font-size: 16px !default !global;
  /// color||Color|0
  $--popover-title-font-color: $--color-text-primary !default !global;

  /* Tooltip
  -------------------------- */
  /// color|1|Color|0
  $--tooltip-fill: rgba(0, 0, 0, 0.75) !default !global;
  /// color|1|Color|0
  $--tooltip-color: $--color-white !default !global;
  /// fontSize||Font|1
  $--tooltip-font-size: 12px !default !global;
  /// color||Color|0
  $--tooltip-border-color: $--tooltip-fill !default !global;
  $--tooltip-arrow-size: 6px !default !global;
  /// padding||Spacing|3
  $--tooltip-padding: 10px !default !global;

  /* Tag
  -------------------------- */
  /// color||Color|0
  $--tag-info-color: $--color-info !default !global;
  /// color||Color|0
  $--tag-primary-color: $--color-primary !default !global;
  /// color||Color|0
  $--tag-success-color: $--color-success !default !global;
  /// color||Color|0
  $--tag-warning-color: $--color-warning !default !global;
  /// color||Color|0
  $--tag-danger-color: $--color-danger !default !global;
  /// fontSize||Font|1
  $--tag-font-size: 12px !default !global;
  $--tag-border-radius: $--border-radius-base !default !global;
  $--tag-padding: 0 8px !default !global;

  /* Tree
  -------------------------- */
  /// color||Color|0
  $--tree-node-hover-background-color: $--color-blue-1 !default !global;
  /// color||Color|0
  $--tree-search-hover-background-color: $--color-blue-1 !default !global;
  /// color||Color|0
  $--tree-font-color: $--color-text-regular !default !global;
  /// color||Color|0
  $--tree-expand-icon-color: $--color-text-regular !default !global;

  /* Dropdown
  -------------------------- */
  $--dropdown-menu-box-shadow: $--box-shadow-light !default !global;
  $--dropdown-menuItem-hover-fill: $--color-primary-light-9 !default !global;
  $--dropdown-menuItem-hover-color: $--link-color !default !global;

  /* Badge
  -------------------------- */
  /// color||Color|0
  $--badge-background-color: $--color-danger !default !global;
  $--badge-radius: 10px !default !global;
  /// fontSize||Font|1
  $--badge-font-size: 12px !default !global;
  /// padding||Spacing|3
  $--badge-padding: 6px !default !global;
  /// height||Other|4
  $--badge-size: 18px !default !global;

  /* Card
  --------------------------*/
  /// color||Color|0
  $--card-border-color: $--border-color-lighter !default !global;
  $--card-border-radius: $--border-radius-base !default !global;
  /// padding||Spacing|3
  $--card-padding: 20px !default !global;

  /* Slider
  --------------------------*/
  /// color||Color|0
  $--slider-main-background-color: $--color-blue-3 !default !global;
  $--slider-main-hover-background-color: $--color-blue-4 !default !global;
  /// color||Color|0
  $--slider-runway-background-color: $--background-color-base !default !global;
  $--slider-runway-hover-background-color: #e1e1e1 !default !global;
  $--slider-button-hover-color: $--color-blue-6 !default !global;
  $--slider-stop-background-color: $--color-white !default !global;
  $--slider-stop-border-color: hsv(0, 0, 0.94) !default !global;
  $--slider-stop-mark-border-color: #8cc8ff !default !global;
  $--slider-disable-color: $--disabled-color-base !default !global;
  $--slider-margin: 16px 0 !default !global;
  $--slider-border-radius: 3px !default !global;
  /// height|1|Other|4
  $--slider-height: 4px !default !global;
  /// height||Other|4
  $--slider-button-size: 10px !default !global;
  $--slider-button-wrapper-size: 14px !default !global;
  $--slider-button-wrapper-offset: -6px !default !global;

  /* Steps
  --------------------------*/
  $--steps-border-color: $--disabled-border-base !default !global;
  $--steps-border-radius: $--border-radius-base !default !global;
  $--steps-padding: 20px !default !global;
  $--steps-line-color: hsv(0, 0, 0.94) !default !global;

  /* Menu
  --------------------------*/
  /// fontSize||Font|1
  $--menu-item-font-size: $--font-size-base !default !global;
  /// color||Color|0
  $--menu-item-font-color: $--color-text-primary !default !global;
  /// color||Color|0
  $--menu-background-color: $--color-white !default !global;
  $--menu-item-hover-fill: $--color-primary-light-9 !default !global;

  /* Rate
  --------------------------*/
  $--rate-height: 20px !default !global;
  /// fontSize||Font|1
  $--rate-font-size: $--font-size-base !default !global;
  /// height||Other|3
  $--rate-icon-size: 22px !default !global;
  /// margin||Spacing|2
  $--rate-icon-margin: 8px !default !global;
  $--rate-icon-color: $--color-text-placeholder !default !global;

  /* DatePicker
  --------------------------*/
  $--datepicker-font-color: $--color-text-regular !default !global;
  /// color|1|Color|0
  $--datepicker-off-font-color: $--color-text-placeholder !default !global;
  /// color||Color|0
  $--datepicker-header-font-color: $--color-heading !default !global;
  $--datepicker-icon-color: $--color-text-primary !default !global;
  $--datepicker-border-color: $--disabled-border-base !default !global;
  $--datepicker-inner-border-color: #e4e4e4 !default !global;
  /// color||Color|0
  $--datepicker-inrange-background-color: $--color-blue-1 !default !global;
  /// color||Color|0
  $--datepicker-inrange-hover-background-color: $--color-blue-2 !default !global;
  /// color||Color|0
  $--datepicker-active-color: $--color-primary !default !global;
  /// color||Color|0
  $--datepicker-hover-font-color: $--color-primary !default !global;
  $--datepicker-cell-hover-color: #fff !default !global;
  $--timepicker-split-border-color: hsv(0, 0, 0.94) !default !global;
  $--timepicker-active-background-color: $--color-blue-1 !default !global;

  /* Loading
  --------------------------*/
  /// height||Other|4
  $--loading-spinner-size: 42px !default !global;
  /// height||Other|4
  $--loading-fullscreen-spinner-size: 50px !default !global;

  /* Scrollbar
  --------------------------*/
  $--scrollbar-background-color: rgba($--color-text-secondary, .3) !default !global;
  $--scrollbar-hover-background-color: rgba($--color-text-secondary, .5) !default !global;

  /* Breadcrumb
  --------------------------*/
  $--breadcrumb-font-size: $--font-size-base !default !global;
  $--breadcrumb-color: rgba(#000000, 0.45) !default !global;
  $--breadcrumb-hover-color: rgba(#000000, 0.65) !default !global;

  /* Carousel
  --------------------------*/
  /// fontSize||Font|1
  $--carousel-arrow-font-size: 12px !default !global;
  $--carousel-arrow-size: 36px !default !global;
  $--carousel-arrow-background: rgba(31, 45, 61, 0.11) !default !global;
  $--carousel-arrow-hover-background: rgba(31, 45, 61, 0.23) !default !global;
  /// width||Other|4
  $--carousel-indicator-width: 30px !default !global;
  /// height||Other|4
  $--carousel-indicator-height: 2px !default !global;
  $--carousel-indicator-padding-horizontal: 4px !default !global;
  $--carousel-indicator-padding-vertical: 12px !default !global;
  $--carousel-indicator-out-color: $--border-color-hover !default !global;

  /* Collapse
  --------------------------*/
  /// color||Color|0
  $--collapse-border-color: $--border-color-lighter !default !global;
  /// height||Other|4
  $--collapse-header-height: 48px !default !global;
  /// color||Color|0
  $--collapse-header-background-color: $--color-white !default !global;
  /// color||Color|0
  $--collapse-header-font-color: $--color-text-primary !default !global;
  /// fontSize||Font|1
  $--collapse-header-font-size: 13px !default !global;
  /// color||Color|0
  $--collapse-content-background-color: $--color-white !default !global;
  /// fontSize||Font|1
  $--collapse-content-font-size: 13px !default !global;
  /// color||Color|0
  $--collapse-content-font-color: $--color-text-primary !default !global;

  /* Transfer
  --------------------------*/
  $--transfer-border-color: $--border-color-base !default !global;
  $--transfer-border-split: hsv(0, 0, 0.94) !default !global;
  $--transfer-border-radius: $--border-radius-base !default !global;
  /// height||Other|4
  $--transfer-panel-width: 200px !default !global;
  /// height||Other|4
  $--transfer-panel-header-height: 40px !default !global;
  /// color||Color|0
  $--transfer-panel-header-background-color: $--color-white !default !global;
  /// height||Other|4
  $--transfer-panel-footer-height: 40px !default !global;
  /// height||Other|4
  $--transfer-panel-body-height: 246px !default !global;
  /// height||Other|4
  $--transfer-item-height: 30px !default !global;
  /// height||Other|4
  $--transfer-filter-height: 32px !default !global;

  /* Header
    --------------------------*/
  $--header-padding: 0 20px !default !global;

  /* Footer
  --------------------------*/
  $--footer-padding: 0 20px !default !global;

  /* Main
  --------------------------*/
  $--main-padding: 20px !default !global;

  /* Timeline
  --------------------------*/
  $--timeline-node-size-normal: 12px !default !global;
  $--timeline-node-size-large: 14px !default !global;
  $--timeline-node-color: $--border-color-light !default !global;

  /* Backtop
  --------------------------*/
  /// color||Color|0
  $--backtop-background-color: $--color-white !default !global;
  /// color||Color|0
  $--backtop-font-color: $--color-primary !default !global;
  /// color||Color|0
  $--backtop-hover-background-color: $--border-color-extra-light !default !global;

  /* Link
  --------------------------*/
  /// fontSize||Font|1
  $--link-font-size: $--font-size-base !default !global;
  /// fontWeight||Font|1
  $--link-font-weight: $--font-weight-primary !default !global;
  /// color||Color|0
  $--link-default-font-color: $--color-text-regular !default !global;
  /// color||Color|0
  $--link-default-active-color: $--color-primary !default !global;
  /// color||Color|0
  $--link-disabled-font-color: $--disabled-color-base !default !global;
  /// color||Color|0
  $--link-primary-font-color: $--color-blue-6 !default !global;
  /// color||Color|0
  $--link-success-font-color: $--color-green-6 !default !global;
  /// color||Color|0
  $--link-warning-font-color: $--color-yellow-6 !default !global;
  /// color||Color|0
  $--link-danger-font-color: $--color-red-6 !default !global;
  /// color||Color|0
  $--link-info-font-color: $--color-gray-6 !default !global;
  /* Calendar
  --------------------------*/
  /// border||Other|4
  $--calendar-border: $--table-border !default !global;
  /// color||Other|4
  $--calendar-selected-background-color: #F2F8FE !default !global;
  $--calendar-cell-width: 85px !default !global;

  /* Form
  -------------------------- */
  /// fontSize||Font|1
  $--form-label-font-size: $--font-size-base !default !global;

  /* Avatar
  --------------------------*/
  /// color||Color|0
  $--avatar-font-color: #fff !default !global;
  /// color||Color|0
  $--avatar-background-color: #C0C4CC !default !global;
  /// fontSize||Font Size|1
  $--avatar-text-font-size: 14px !default !global;
  /// fontSize||Font Size|1
  $--avatar-icon-font-size: 18px !default !global;
  /// borderRadius||Border|2
  $--avatar-border-radius: $--border-radius-base !default !global;
  /// size|1|Avatar Size|3
  $--avatar-large-size: 40px !default !global;
  /// size|1|Avatar Size|3
  $--avatar-medium-size: 32px !default !global;
  /// size|1|Avatar Size|3
  $--avatar-small-size: 24px !default !global;

  /* Break-point
  --------------------------*/
  $--sm: 768px !default !global;
  $--md: 992px !default !global;
  $--lg: 1200px !default !global;
  $--xl: 1920px !default !global;

  $--breakpoints: (
    'xs' : (max-width: $--sm - 1),
    'sm' : (min-width: $--sm),
    'md' : (min-width: $--md),
    'lg' : (min-width: $--lg),
    'xl' : (min-width: $--xl)
  ) !global;

  $--breakpoints-spec: (
    'xs-only' : (max-width: $--sm - 1),
    'sm-and-up' : (min-width: $--sm),
    'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
    'sm-and-down': (max-width: $--md - 1),
    'md-and-up' : (min-width: $--md),
    'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
    'md-and-down': (max-width: $--lg - 1),
    'lg-and-up' : (min-width: $--lg),
    'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
    'lg-and-down': (max-width: $--xl - 1),
    'xl-only' : (min-width: $--xl),
  ) !global;