@import "./var";
@import "../../../mixins/mixins.scss";
@include root {
  .fade-in-linear-enter-active,
  .fade-in-linear-leave-active {
    transition: $--fade-linear-transition;
  }
  .fade-in-linear-enter,
  .fade-in-linear-leave,
  .fade-in-linear-leave-active {
    opacity: 0;
  }

  .boss-fade-in-linear-enter-active,
  .boss-fade-in-linear-leave-active {
    transition: $--fade-linear-transition;
  }
  .boss-fade-in-linear-enter,
  .boss-fade-in-linear-leave,
  .boss-fade-in-linear-leave-active {
    opacity: 0;
  }

  .boss-fade-in-enter-active,
  .boss-fade-in-leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .boss-fade-in-enter,
  .boss-fade-in-leave-active {
    opacity: 0;
  }

  .boss-zoom-in-center-enter-active,
  .boss-zoom-in-center-leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .boss-zoom-in-center-enter,
  .boss-zoom-in-center-leave-active {
    opacity: 0;
    transform: scaleX(0);
  }

  .boss-zoom-in-top-enter-active,
  .boss-zoom-in-top-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: $--md-fade-transition;
    transform-origin: center top;
  }
  .boss-zoom-in-top-enter,
  .boss-zoom-in-top-leave-active {
    opacity: 0;
    transform: scaleY(0);
  }

  .boss-zoom-in-bottom-enter-active,
  .boss-zoom-in-bottom-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: $--md-fade-transition;
    transform-origin: center bottom;
  }
  .boss-zoom-in-bottom-enter,
  .boss-zoom-in-bottom-leave-active {
    opacity: 0;
    transform: scaleY(0);
  }

  .boss-zoom-in-left-enter-active,
  .boss-zoom-in-left-leave-active {
    opacity: 1;
    transform: scale(1, 1);
    transition: $--md-fade-transition;
    transform-origin: top left;
  }
  .boss-zoom-in-left-enter,
  .boss-zoom-in-left-leave-active {
    opacity: 0;
    transform: scale(0.45, 0.45);
  }

  .collapse-transition {
    transition: 0.3s height, 0.3s padding-top, 0.3s padding-bottom;
  }
  .horizontal-collapse-transition {
    transition: 0.3s width, 0.3s padding-left, 0.3s padding-right;
  }

  .boss-list-enter-active,
  .boss-list-leave-active {
    transition: all 1s;
  }
  .boss-list-enter,
  .boss-list-leave-active {
    opacity: 0;
    transform: translateY(-30px);
  }

  .boss-opacity-transition {
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
}
