$--theme:element !default;

// Using the element theme if the $--theme is equal to element
@if $--theme == element {
  html {
    @import "./element/index.scss";
  };
}

// Using the ant theme if the $--theme is equal to ant
@else if $--theme == ant {
  html {
    @import "./ant/index.scss";
  }
}

// If the $--theme is not one of element and ant or is not undefinedï¼Œthe element theme will be used
@else {
  $--global:register-element();
}